/* Typography & Vertical Rhythm */

@page {
  size: A4;
  margin: .5cm;
}

%printBackground {
  background: $print-background;
}

html {
  @extend %printBackground;
}

body {
  @extend %printBackground;
  color: $print-color;
  font-size: 12pt;
  line-height: 1.5;
}

%printResetStyle {
  border: 0;
  color: $print-color;
  text-decoration: none;
}

p {
  orphans: 3;
  widows: 3;
}

pre {
  @extend %printResetStyle;
}

code {
  @extend %printResetStyle;
}

var {
  @extend %printResetStyle;
}

%pageBreakPreventStyle {
  page-break-inside: avoid;
  break-inside: avoid;
}

blockquote {
  @extend %pageBreakPreventStyle;
}

%titleContentStyle {

  &[title] {

    &:after {
      content: ' (' attr(title) ')';
    }

  }

}

acronym {
  @extend %printResetStyle;
  @extend %titleContentStyle;
}

abbr {
  @extend %printResetStyle;
  @extend %titleContentStyle;
}

ins {
  @extend %printResetStyle;
  @extend %titleContentStyle;
}

del {
  @extend %printResetStyle;
  @extend %titleContentStyle;
}

img {
  @extend %pageBreakPreventStyle;
}

table {
  @extend %pageBreakPreventStyle;
}

thead {
  display: table-header-group;
}

tr {
  @extend %pageBreakPreventStyle;
}



/* Links */

%otherHREFStyle {

  &:after {
    content: '';
  }

}

a {
  color: $print-color;
  text-decoration: none;

  &:after {
    content: ' (' attr(href) ')';
    font-size: 90%;
  }

  &:visited {
    color: $print-color;
  }

  &[href^='javascript:'] {
    @extend %otherHREFStyle;
  }


  &[href^='#'] {
    @extend %otherHREFStyle;
  }

  &[href^='mailto:'] {
    @extend %otherHREFStyle;
  }

  &[href^='tel:'] {
    @extend %otherHREFStyle;
  }

}



/* Forms */

%hideFormStyle {
  display: none;
}

form {
  @extend %hideFormStyle;
}

input {
  @extend %hideFormStyle;
}

select {
  @extend %hideFormStyle;
}

button {
  @extend %hideFormStyle;
}

textarea {
  @extend %hideFormStyle;
}
