/* TX Debuging Styles */
/* line 9, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
.page-is-showingRhythmLines {
  background: -webkit-linear-gradient(top, transparent, transparent 23px, #f00);
  background: linear-gradient(to bottom, transparent, transparent 23px, #f00);
  background-size: 100% 24px; }

/* line 14, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
.page-is-showingResponsiveGuide {
  background: url(../../images/tx/tx-responsiveGuide.jpg); }

/* line 19, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
.page-is-showingRhythmLines .content, .page-is-showingResponsiveGuide .content {
  background: none; }

/* TX Debuging Console */
/* line 28, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
.debugConsole {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 50px;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  font-family: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;
  font-size: 16px;
  line-height: 1.5em;
  pointer-events: none; }

/* line 48, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
.page-is-showingConsole .debugConsole {
  display: block; }

/* TX Debuging Controls */
/* line 58, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
.debugTools {
  position: fixed;
  top: 0;
  right: -10px;
  width: 300px;
  margin: 6em 0 0;
  padding: 4.5em 0 0;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 18px;
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(290px, 0);
  -ms-transform: translate(290px, 0);
  transform: translate(290px, 0); }
  /* line 72, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
  .debugTools ul {
    position: relative;
    z-index: 2; }
  /* line 77, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
  .debugTools li {
    margin: 0 0 1.5em 25px; }
  /* line 81, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
  .debugTools label {
    border: none; }
  /* line 85, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
  .debugTools input {
    margin: 0 0.5em 0 0; }

/* line 91, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
.debugToolsToggle {
  position: absolute;
  top: 50%;
  left: -70px;
  width: 140px;
  height: 140px;
  margin: -70px 0 0;
  z-index: 1;
  border-radius: 50%;
  background: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0.75; }

/* line 107, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
.page-is-showingDebugTools .debugTools {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }
/* line 111, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-debug.scss */
.page-is-showingDebugTools .debugToolsToggle {
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  margin: 0;
  background: white;
  opacity: 1; }
/*# sourceMappingURL=tx-debug.css.map */