.gitconfig.local

.DS_Store
._*.*
.Spotlight-V100
.Trashes
Desktop.ini
ehthumbs.db
Thumbs.db

#Dev

.sass-cache
.tmp
node_modules
bower_components
.npm-debug.log

#TX

build
design
tests

*.build.zip
*.sublime-workspace
