.gitconfig.local

.DS_Store
.DS_Store?
._*
._*.*
.Spotlight-V100
.Trashes
Desktop.ini
ehthumbs.db
Thumbs.db
npm-debug.log
package-lock.json

.vscode
.idea
.settings
.classpath
.project



#Dev

.sass-cache
.tmp
node_modules
bower_components
*.map
browserify-cache.json
coverage


#TX

build
design
dev/res/css
dev/res/js
dev/*.html
dev/res/images/**/tx-*.*
dev/res/templates/**/_tx-*.*
*.gz

*.build.zip
*.sublime-workspace
