.gitconfig.local

.DS_Store
.DS_Store?
._*
._*.*
.Spotlight-V100
.Trashes
Desktop.ini
ehthumbs.db
Thumbs.db
npm-debug.log

#Dev

.sass-cache
.tmp
.map
node_modules
bower_components
phantomcss

#TX

build
design

*.build.zip
*.sublime-workspace
