/* CSS Baseline */
/* line 7, D:/Projects/Projects/TemplateX/dev/res/sass-dev/reset.scss */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, address, blockquote, pre, a, abbr, acronym, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, applet, object, iframe, article, aside, figure, figcaption, footer, header, hgroup, menu, nav, section, time, mark, video, audio, canvas {
	padding: 0;
	border: none;
	margin: 0;
	background: none;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	line-height: inherit;
	vertical-align: baseline;
}

/* line 19, D:/Projects/Projects/TemplateX/dev/res/sass-dev/reset.scss */
html {
	-webkit-overflow-scrolling: touch;
}

/* line 23, D:/Projects/Projects/TemplateX/dev/res/sass-dev/reset.scss */
blockquote, q {
	quotes: none;
}
/* line 26, D:/Projects/Projects/TemplateX/dev/res/sass-dev/reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

/* line 33, D:/Projects/Projects/TemplateX/dev/res/sass-dev/reset.scss */
table {
	border-spacing: 0; 
	border-collapse: collapse;
}

/* line 38, D:/Projects/Projects/TemplateX/dev/res/sass-dev/reset.scss */
caption, th, td {
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

/* line 44, D:/Projects/Projects/TemplateX/dev/res/sass-dev/reset.scss */
ul, ol {
	list-style: none;
}

/* line 48, D:/Projects/Projects/TemplateX/dev/res/sass-dev/reset.scss */
article, aside, figure, figcaption, footer, header, hgroup, nav, section {
	display: block;
}

/* line 52, D:/Projects/Projects/TemplateX/dev/res/sass-dev/reset.scss */
input, button, select, textarea {
	padding: 0; 
	margin: 0;
}

/* line 57, D:/Projects/Projects/TemplateX/dev/res/sass-dev/reset.scss */
button, select {
	text-transform: none;
}