/* Typography & Rhythm */
/* line 13, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
html {
	font-size: 100%;
	line-height: 1.5em;
}

/* line 18, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
body {
	counter-reset: heading;
	color: #000000;
	background: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}

/* line 25, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx */
::-webkit-selection {
	color: white;
	background: blue;
}

/* line 25, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx */
::-moz-selection {
	color: white;
	background: blue;
}

/* line 25, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx */
::-moz-selection {
	color: white;
	background: blue;
}
::selection {
	color: white;
	background: blue;
}

/* line 27, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
a {
	color: #003b9e;
	text-decoration: underline;
}
/* line 31, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
a:visited {
	color: #003b9e;
}
/* line 35, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
a:hover {
	color: #ff0000;
}
/* line 39, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
a:active {
	color: #ff0000;
}
/* line 43, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
a:focus {
	color: #000000;
	outline: 1px dotted #939393;
}

/* line 50, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
label, button, .button {
	cursor: pointer;
}

/* line 54, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
label {
	border-width: 0 0 1px;
	border-style: dotted;
	border-color: #939393;
}
/* line 59, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
label:focus {
	border: none;
	outline: 1px dotted #939393;
}

/* line 66, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	page-break-after: avoid;
	orphans: 3;
	widows: 3; 

	text-rendering: optimizelegibility;
}

/* line 74, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
h1 {
	margin: .75em 0 1.5em;
	font-size: 2em;
	line-height: 1.5em;
}

/* line 79, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
h2 {
	margin: 1em 0;
	font-size: 1.5em;
	line-height: 2em;
}

/* line 84, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
h3 {
	margin: 1.09091em 0;
	font-size: 1.375em;
	line-height: 1.09091em;
}

/* line 89, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
h4 {
	margin: 1.2em 0;
	font-size: 1.25em;
	line-height: 1.2em;
}

/* line 94, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
h5 {
	margin: 1.33333em 0;
	font-size: 1.125em;
	line-height: 1.33333em;
}

/* line 99, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
h6 {
	margin: 1.5em 0;
	font-size: 1em;
	line-height: 1.5em;
}

/* line 104, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
p, pre, dl, ul, ol, li, address, video, audio, table {
	margin: 1.5em 0;
}

/* line 108, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
p, blockquote, li, dd {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* line 112, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
pre, code, samp, var, tt {
	font-family: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;
}

/* line 116, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
pre, code, samp, del {
	color: #d00837;
}

/* line 120, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
pre {
	overflow: hidden; 
	padding: 0 1.5em;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	word-wrap: break-word;
}

/* line 126, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
blockquote, em, cite, q, i {
	font-style: italic;
}

/* line 130, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
blockquote {
	margin: 1.5em 3em;
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}

/* line 135, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
address {
	font-style: normal;
}

/* line 139, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
dt {
	margin: 1.5em 0 0;
	font-weight: bold;
}

/* line 144, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
dd {
	margin: 0 0 1.5em 1.5em;
	font-style: italic;
}

/* line 149, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
ul {
	list-style-type: disc;
}

/* line 153, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
ol {
	list-style-type: decimal;
}

/* line 159, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
li ul, li ol {
	margin: 1.5em 0 1.5em 1.5em;
}

/* line 165, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
strong, dfn, b, kbd, acronym, abbr, var {
	font-weight: bold;
}

/* line 169, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
acronym, abbr, ins, mark, del {
	border-width: 0 0 1px;
	border-style: dotted;
	border-color: #488dc6;
	color: #488dc6;
	text-decoration: none;
	cursor: help;
}

/* line 178, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
acronym, abbr {
	margin: 0 -.075em 0 0;
	letter-spacing: .075em;
}

/* line 183, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
kbd {
	display: inline-block;
	height: 24px;
	padding: 0 .5em;
	color: #333333;
	background: #939393;
	background-clip: padding-box;
	border-radius: 3px;
	font-weight: bold;
	font-family: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;
	letter-spacing: .1em;
	line-height: 24px;
	vertical-align: top;
}

/* line 199, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
var {
	color: #d00837;
	font-style: normal;
}

/* line 204, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
del, strike, s {
	text-decoration: line-through;
}

/* line 208, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
sup, sub {
	position: relative;
	font-size: .75em;
	line-height: 0;
}

/* line 213, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
sup {
	top: -.65em;
}

/* line 217, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
sub {
	bottom: -.25em;
}

/* line 221, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
big {
	font-size: 1.5em;
	line-height: 0;
}

/* line 225, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
small {
	font-size: .75em;
	line-height: 0;
}

/* line 229, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
u {
	text-decoration: underline;
}

/* line 233, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
img {
	max-width: 100%;
	vertical-align: top;
}

/* line 298, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
caption {
	padding: 0 0 .75em;
	font-weight: bold;
}

/* line 303, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
table {
	width: 100%;
	table-layout: fixed;
}

/* line 308, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
td, th {
	padding: .6875em .5em .75em; 
	border: 1px solid black;
}

/* line 312, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
th {
	font-weight: bold;
}

/* line 316, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
fieldset {
	padding: .75em 0 0;
}

/* line 320, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
legend {
	position: relative;
	left: -1.5em;
	padding: 0 1.5em;
	color: white;
	background: black;
	font-weight: bold;
}

/* line 329, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input, select, button, textarea {
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
	line-height: 1.5em;
}

/* line 334, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input, button, textarea {
	padding: 0 .5em;
}

/* line 338, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input, button {
	height: 1.5em;
	border: none;
}
/* line 342, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input::-moz-focus-inner, button::-moz-focus-inner {
	padding: 0; 
	border: 0;
}

/* line 351, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input[disabled], input[readonly], select[disabled], select[readonly], textarea[disabled], textarea[readonly] {
	opacity: .5;
	cursor: default;
	cursor: not-allowed;
}

/* line 359, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input, select {
	vertical-align: top;
}

/* line 365, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input[type="radio"], input[type="checkbox"] {
	box-sizing: border-box;
	vertical-align: top;
}
/* line 370, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input[type="file"] {
	height: auto;
	border: none;
	line-height: normal;
}
/* line 376, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input[type="search"] {
	box-sizing: content-box; 
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}
/* line 382, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* line 393, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input[type="reset"], input[type="submit"], button {
	overflow: visible;
	width: auto;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* line 402, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}
/* line 407, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

/* line 413, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
.field, textarea, select {
	border: 1px solid #939393;
}

/* line 421, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
.field:focus, textarea:focus {
	outline: none;
	-webkit-animation: focusPulse 1.5s infinite;
	animation: focusPulse 1.5s infinite;
}

/* line 428, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
.field {
	height: 1.375em;
}

/* line 432, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
textarea {
	overflow: auto; 
	height: 14.875em;
}

@-webkit-keyframes focusPulse {
	/* line 440, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	0% {
		box-shadow: 0 0 4px 1px #488dc6;
	}

	/* line 443, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	50% {
		box-shadow: 0 0 8px 1px #488dc6;
	}

	/* line 446, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	100% {
		box-shadow: 0 0 4px 1px #488dc6;
	}
}

@keyframes focusPulse {
	/* line 440, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	0% {
		box-shadow: 0 0 4px 1px #488dc6;
	}

	/* line 443, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	50% {
		box-shadow: 0 0 8px 1px #488dc6;
	}

	/* line 446, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	100% {
		box-shadow: 0 0 4px 1px #488dc6;
	}
}

/* line 452, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
select {
	height: 1.5em;
}
/* line 455, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
select:focus {
	outline: 1px dotted #939393;
}
/* line 459, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
select[multiple] {
	height: 7.525em;
}

/* line 465, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
hr {
	display: block;
	box-sizing: content-box; 
	height: 1px;
	padding: 0;
	border-width: 1px 0;
	border-style: solid;
	border-color: #000000;
	margin: 1.5em 0 -1px;
}

/* Additional Decorative Styles */
/* line 3, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.alnLft {
	text-align: left;
}

/* line 7, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.alnRgt {
	text-align: right;
}

/* line 11, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.alnCnt {
	text-align: center;
}

/* line 15, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.alnJst {
	text-align: justify;
}

/* line 19, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.alnTop {
	vertical-align: top;
}

/* line 23, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.alnMdl {
	vertical-align: middle;
}

/* line 27, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.alnBtm {
	vertical-align: bottom;
}

/* line 31, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.fntBld {
	font-weight: bold;
}

/* line 35, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.fntItl {
	font-style: italic;
}

/* line 39, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.fntNrm {
	font-weight: normal;
	font-style: normal;
}

/* line 44, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.blkClr {
	clear: both;
}

/* line 48, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.blkNClr {
	clear: none;
}

/* Headings Counter */
/* line 58, D:/Projects/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */
.hNumber:before {
	position: relative;
	content: counter(heading) ". ";
	counter-increment: heading; 
	display: inline-block;
}

/* High DPI Typography */
@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {
	/* line 484, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	html {
		text-rendering: optimizelegibility;
	}
}

/* Phone Typography */
@media handheld, only screen and (max-width: 720px) {
	/* line 496, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	table, tr, th, td {
		display: block;
	}
}

/* Tablet Typography */
/* Print Typography */
@media print {
	@page {
		margin: 0 .5cm;
	}

	/* line 525, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	body {
		width: 100%;
		max-width: none;
		padding: 0;
		margin: 0;
		color: #000000;
		background: #ffffff;
		font-size: 16pt;
	}

	/* line 535, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	a, acronym, abbr, ins, del, var, input, select, textarea {
		border: none;
		color: #000000;
		text-decoration: none;
	}

	/* line 541, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	a {
		color: #000000;
	}
	/* line 544, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	a:visited {
		color: #000000;
	}
	/* line 550, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	a[href]:after {
		content: " (" attr(href) ")";
		font-size: 90%;
	}
	/* line 559, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}

	/* line 569, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/* line 575, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	p {
		orphans: 3;
		widows: 3;
	}

	/* line 580, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	blockquote, pre, img, tr {
		page-break-inside: avoid;
	}

	/* line 584, D:/Projects/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	thead {
		display: table-header-group;
	}
}