/* Selection */
::-moz-selection {
  color: #ffffff;
  background: #337ab7;
}
::selection {
  color: #ffffff;
  background: #337ab7;
}

/* Links */
a {
  color: #337ab7;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(51, 122, 183, .5);
  -moz-text-decoration-color: rgba(51, 122, 183, .5);
  text-decoration-color: rgba(51, 122, 183, .5);
  -webkit-transition: .15s;
  transition: .15s;
}
a:visited {
  color: #6f5499;
  -webkit-text-decoration-color: rgba(111, 84, 153, .5);
  -moz-text-decoration-color: rgba(111, 84, 153, .5);
  text-decoration-color: rgba(111, 84, 153, .5);
}
a:hover {
  color: #d9534f;
  -webkit-text-decoration-color: rgba(217, 83, 79, .5);
  -moz-text-decoration-color: rgba(217, 83, 79, .5);
  text-decoration-color: rgba(217, 83, 79, .5);
}
a:active {
  color: #23527c;
  -webkit-text-decoration-color: rgba(35, 82, 124, .5);
  -moz-text-decoration-color: rgba(35, 82, 124, .5);
  text-decoration-color: rgba(35, 82, 124, .5);
}
a:focus {
  outline: 1px dotted #cccccc;
}

/* Forms */
label {
  border-bottom: 1px dotted #cccccc;
  cursor: pointer;
}

input, select, button, textarea {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}

input, select, button {
  font-size: 16px;
  font-size: 1rem;
}

input, button, textarea {
  box-sizing: content-box;
}

input, button {
  border: 0;
}
input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

select, button {
  text-transform: none;
}

input, select {
  vertical-align: top;
}

select, textarea, .field {
  border: 1px solid #cccccc;
}

input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  vertical-align: middle;
}

input[type="search"], input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[disabled], input[readonly], button[disabled], textarea[disabled], textarea[readonly] {
  opacity: .5;
  cursor: default;
  cursor: not-allowed;
}

input[type="file"] {
  height: auto;
  border: 0;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  height: 36px;
  height: 2.25rem;
  vertical-align: top;
}
select[multiple] {
  height: 120px;
  height: 7.5rem;
}

button, .button {
  height: 36px;
  height: 2.25rem;
  padding: 0 15px;
  cursor: pointer;
}

textarea {
  display: block;
  overflow: auto; 
  height: 214px;
  height: 13.375rem;
  padding: 6px 15px;
  padding: .375rem 15px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* Custom Forms */
.field {
  height: 34px;
  height: 2.125rem;
  padding: 0 15px;
}

/* Buttons */
/* HDPI UI */
/* Large Resolution UI */
/* Tablet UI */
/* Phone UI */
/* Print Typography */
@media print {
  /* Links */
  a[href^="javascript:"]:after, a[href^="#"]:after, a[href^="mailto:"]:after, a[href^="tel:"]:after {
    content: "";
  }
  a {
    color: #333333;
    text-decoration: none;
  }
  a:after {
    content: " (" attr(href) ")";
    font-size: 90%;
  }
  a:visited {
    color: #333333;
  }
}

/* TV UI */
/* Audio UI */
/*# sourceMappingURL=ui.css.map */