// TemplateX Link



// Link States Color

@mixin tx-link($linkColor: null, $visitedColor: null, $hoverColor: null, $activeColor: null, $all: true) {
  @if ($linkColor and $all == short) {
    color: $linkColor;

    &:visited {
      color: $linkColor;
    }

    &:hover,
    &:active {
      color: $visitedColor;
    }

  } @else {
    @if ($visitedColor != $hoverColor) or ($visitedColor != $activeColor) or ($hoverColor != $activeColor) {
      $all: false;
    }
    @if $linkColor and $all == true {
      color: $linkColor;

      &:visited,
      &:hover,
      &:active {
        color: $linkColor;
      }
    } @else {
      @if ($linkColor) {
        color: $linkColor;
      }
      @if ($visitedColor) {

        &:visited {
          color: $visitedColor;
        }
      }
      @if $hoverColor and ($hoverColor == $activeColor) {

        &:hover,
        &:active {
          color: $hoverColor;
        }
      } @else {
        @if ($hoverColor) {

          &:hover {
            color: $hoverColor;
          }
        }
        @if ($activeColor) {

          &:active {
            color: $activeColor;
          }
        }
      }

    }
  }
}
