// TemplateX Breakpoints



// Media Queries

@mixin tx-mq($name, $pixels: false) {
  @include tx-media($name, $pixels);
}

@mixin tx-media($name, $pixels: false) {
  @media #{txf-media($name, $pixels)} {

    @content;

  }
}



// Functions

@function txf-media($name, $pixels: false) {
  $finalName: if($pixels, #{$name + unquote('-pixels')}, $name);
  @return #{map-get($mediaQueries, $finalName)};
}

@function txf-breakpoint($point, $pixels: false) {
  @if ($pixels) {
    @return map-get($breakpoints, $point);
  } @else {
    @return #{(map-get($breakpoints, $point) / $fontSize) * $fontSizeQuotient}em;
  }
}

@function txf-dpiBreakpoints($baseBreakpoint, $dpiBreakpoints) {
  $breakpointDPI: null;
  @for $index from 1 through length($dpiBreakpoints) {
    @if ($index == 1) {
      $breakpointDPI: $baseBreakpoint unquote('and') unquote(nth($dpiBreakpoints, $index));
    } @else {
      $breakpointDPI: #{$breakpointDPI}#{unquote(',')} $baseBreakpoint unquote('and') unquote(nth($dpiBreakpoints, $index));
    }
  }
  @return $breakpointDPI;
}

@function txf-breakpointQuery($min: null, $max: null, $dpi: null, $type: screen, $pixels: false, $orientation: false) {
  $breakpoint: only $type;
  @if ($min) {
    $breakpoint: $breakpoint unquote('and') (min-width: txf-breakpoint($min, $pixels));
  }
  @if ($max) {
    $breakpoint: $breakpoint unquote('and') (max-width: txf-breakpoint($max, $pixels));
  }
  @if ($dpi) {
    $dpiValues: txf-dpiValues(map-get($breakpointsDPI, $dpi));
    $breakpoint: txf-dpiBreakpoints($breakpoint, $dpiValues);
  }
  @if ($orientation) {
    $breakpoint: $breakpoint unquote('and') (orientation: $orientation);
  }
  @return $breakpoint;
}

@function txf-deviceBreakpoint($name) {
  @return map-get($breakpointQueries, $name);
}

@function txf-dpiValues($value) {
  $valueNumber: $value / 100;
  $valueFraction: $value / 50;
  @return (
  '(-webkit-min-device-pixel-ratio: #{$valueNumber})',
  '(min--moz-device-pixel-ratio: #{$valueNumber})',
  '(-o-min-device-pixel-ratio: #{($valueFraction)} / 2)',
  '(min-device-pixel-ratio: #{$valueNumber})',
  '(min-resolution: #{$value}dpi)',
  '(min-resolution: #{$valueNumber}dppx)'
  );
}
