// TemplateX Aspect Ratio



// Height to Width Ratio

@mixin tx-ratio($width, $height, $placeholderName) {
  position: relative;
  padding: (($height / $width) * 100%) 0 0;

  %#{$placeholderName} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}
