// sprites.png

$spt-icon-name: 'spt-icon';
$spt-icon-x: 0;
$spt-icon-y: 0;
$spt-icon-offset-x: 0;
$spt-icon-offset-y: 0;
$spt-icon-width: 114px;
$spt-icon-height: 109px;
$spt-icon-total-width: 233px;
$spt-icon-total-height: 223px;
$spt-icon-image: '../images/sprites.png';
$spt-icon: (0, 0, 0, 0, 114px, 109px, 233px, 223px, '../images/sprites.png', 'spt-icon');
$spt-star-name: 'spt-star';
$spt-star-x: 119px;
$spt-star-y: 0;
$spt-star-offset-x: -119px;
$spt-star-offset-y: 0;
$spt-star-width: 114px;
$spt-star-height: 109px;
$spt-star-total-width: 233px;
$spt-star-total-height: 223px;
$spt-star-image: '../images/sprites.png';
$spt-star: (119px, 0, -119px, 0, 114px, 109px, 233px, 223px, '../images/sprites.png', 'spt-star');
$spt-starRed-name: 'spt-starRed';
$spt-starRed-x: 0;
$spt-starRed-y: 114px;
$spt-starRed-offset-x: 0;
$spt-starRed-offset-y: -114px;
$spt-starRed-width: 114px;
$spt-starRed-height: 109px;
$spt-starRed-total-width: 233px;
$spt-starRed-total-height: 223px;
$spt-starRed-image: '../images/sprites.png';
$spt-starRed: (0, 114px, 0, -114px, 114px, 109px, 233px, 223px, '../images/sprites.png', 'spt-starRed');
$spt-superStar-name: 'spt-superStar';
$spt-superStar-x: 119px;
$spt-superStar-y: 114px;
$spt-superStar-offset-x: -119px;
$spt-superStar-offset-y: -114px;
$spt-superStar-width: 114px;
$spt-superStar-height: 109px;
$spt-superStar-total-width: 233px;
$spt-superStar-total-height: 223px;
$spt-superStar-image: '../images/sprites.png';
$spt-superStar: (119px, 114px, -119px, -114px, 114px, 109px, 233px, 223px, '../images/sprites.png', 'spt-superStar');
$ssh-sprites-width: 233px;
$ssh-sprites-height: 223px;
$ssh-sprites-image: '../images/sprites.png';
$ssh-sprites-sprites: ($spt-icon, $spt-star, $spt-starRed, $spt-superStar);
$ssh-sprites: (233px, 223px, '../images/sprites.png', $ssh-sprites-sprites);



// icons.png

$spt-icons2-name: 'spt-icons2';
$spt-icons2-x: 0;
$spt-icons2-y: 0;
$spt-icons2-offset-x: 0;
$spt-icons2-offset-y: 0;
$spt-icons2-width: 144px;
$spt-icons2-height: 136px;
$spt-icons2-total-width: 293px;
$spt-icons2-total-height: 277px;
$spt-icons2-image: '../images/icons.png';
$spt-icons2: (0, 0, 0, 0, 144px, 136px, 293px, 277px, '../images/icons.png', 'spt-icons2');
$spt-icons3-name: 'spt-icons3';
$spt-icons3-x: 149px;
$spt-icons3-y: 0;
$spt-icons3-offset-x: -149px;
$spt-icons3-offset-y: 0;
$spt-icons3-width: 144px;
$spt-icons3-height: 136px;
$spt-icons3-total-width: 293px;
$spt-icons3-total-height: 277px;
$spt-icons3-image: '../images/icons.png';
$spt-icons3: (149px, 0, -149px, 0, 144px, 136px, 293px, 277px, '../images/icons.png', 'spt-icons3');
$spt-icons4-name: 'spt-icons4';
$spt-icons4-x: 0;
$spt-icons4-y: 141px;
$spt-icons4-offset-x: 0;
$spt-icons4-offset-y: -141px;
$spt-icons4-width: 144px;
$spt-icons4-height: 136px;
$spt-icons4-total-width: 293px;
$spt-icons4-total-height: 277px;
$spt-icons4-image: '../images/icons.png';
$spt-icons4: (0, 141px, 0, -141px, 144px, 136px, 293px, 277px, '../images/icons.png', 'spt-icons4');
$spt-iconsName-name: 'spt-iconsName';
$spt-iconsName-x: 149px;
$spt-iconsName-y: 141px;
$spt-iconsName-offset-x: -149px;
$spt-iconsName-offset-y: -141px;
$spt-iconsName-width: 144px;
$spt-iconsName-height: 136px;
$spt-iconsName-total-width: 293px;
$spt-iconsName-total-height: 277px;
$spt-iconsName-image: '../images/icons.png';
$spt-iconsName: (149px, 141px, -149px, -141px, 144px, 136px, 293px, 277px, '../images/icons.png', 'spt-iconsName');
$ssh-icons-width: 293px;
$ssh-icons-height: 277px;
$ssh-icons-image: '../images/icons.png';
$ssh-icons-sprites: ($spt-icons2, $spt-icons3, $spt-icons4, $spt-iconsName);
$ssh-icons: (293px, 277px, '../images/icons.png', $ssh-icons-sprites);



// icons@2x.png

$spt-icons2-2x-name: 'spt-icons2@2x';
$spt-icons2-2x-x: 0;
$spt-icons2-2x-y: 0;
$spt-icons2-2x-offset-x: 0;
$spt-icons2-2x-offset-y: 0;
$spt-icons2-2x-width: 288px;
$spt-icons2-2x-height: 272px;
$spt-icons2-2x-total-width: 586px;
$spt-icons2-2x-total-height: 554px;
$spt-icons2-2x-image: '../images/icons@2x.png';
$spt-icons2-2x: (0, 0, 0, 0, 288px, 272px, 586px, 554px, '../images/icons@2x.png', 'spt-icons2@2x');
$spt-icons3-2x-name: 'spt-icons3@2x';
$spt-icons3-2x-x: 298px;
$spt-icons3-2x-y: 0;
$spt-icons3-2x-offset-x: -298px;
$spt-icons3-2x-offset-y: 0;
$spt-icons3-2x-width: 288px;
$spt-icons3-2x-height: 272px;
$spt-icons3-2x-total-width: 586px;
$spt-icons3-2x-total-height: 554px;
$spt-icons3-2x-image: '../images/icons@2x.png';
$spt-icons3-2x: (298px, 0, -298px, 0, 288px, 272px, 586px, 554px, '../images/icons@2x.png', 'spt-icons3@2x');
$spt-icons4-2x-name: 'spt-icons4@2x';
$spt-icons4-2x-x: 0;
$spt-icons4-2x-y: 282px;
$spt-icons4-2x-offset-x: 0;
$spt-icons4-2x-offset-y: -282px;
$spt-icons4-2x-width: 288px;
$spt-icons4-2x-height: 272px;
$spt-icons4-2x-total-width: 586px;
$spt-icons4-2x-total-height: 554px;
$spt-icons4-2x-image: '../images/icons@2x.png';
$spt-icons4-2x: (0, 282px, 0, -282px, 288px, 272px, 586px, 554px, '../images/icons@2x.png', 'spt-icons4@2x');
$spt-iconsName-2x-name: 'spt-iconsName@2x';
$spt-iconsName-2x-x: 298px;
$spt-iconsName-2x-y: 282px;
$spt-iconsName-2x-offset-x: -298px;
$spt-iconsName-2x-offset-y: -282px;
$spt-iconsName-2x-width: 288px;
$spt-iconsName-2x-height: 272px;
$spt-iconsName-2x-total-width: 586px;
$spt-iconsName-2x-total-height: 554px;
$spt-iconsName-2x-image: '../images/icons@2x.png';
$spt-iconsName-2x: (298px, 282px, -298px, -282px, 288px, 272px, 586px, 554px, '../images/icons@2x.png', 'spt-iconsName@2x');
$ssh-icons-2x-width: 586px;
$ssh-icons-2x-height: 554px;
$ssh-icons-2x-image: '../images/icons@2x.png';
$ssh-icons-2x-sprites: ($spt-icons2-2x, $spt-icons3-2x, $spt-icons4-2x, $spt-iconsName-2x);
$ssh-icons-2x: (586px, 554px, '../images/icons@2x.png', $ssh-icons-2x-sprites);



// icons@3x.png

$spt-icons2-3x-name: 'spt-icons2@3x';
$spt-icons2-3x-x: 0;
$spt-icons2-3x-y: 0;
$spt-icons2-3x-offset-x: 0;
$spt-icons2-3x-offset-y: 0;
$spt-icons2-3x-width: 432px;
$spt-icons2-3x-height: 408px;
$spt-icons2-3x-total-width: 879px;
$spt-icons2-3x-total-height: 831px;
$spt-icons2-3x-image: '../images/icons@3x.png';
$spt-icons2-3x: (0, 0, 0, 0, 432px, 408px, 879px, 831px, '../images/icons@3x.png', 'spt-icons2@3x');
$spt-icons3-3x-name: 'spt-icons3@3x';
$spt-icons3-3x-x: 447px;
$spt-icons3-3x-y: 0;
$spt-icons3-3x-offset-x: -447px;
$spt-icons3-3x-offset-y: 0;
$spt-icons3-3x-width: 432px;
$spt-icons3-3x-height: 408px;
$spt-icons3-3x-total-width: 879px;
$spt-icons3-3x-total-height: 831px;
$spt-icons3-3x-image: '../images/icons@3x.png';
$spt-icons3-3x: (447px, 0, -447px, 0, 432px, 408px, 879px, 831px, '../images/icons@3x.png', 'spt-icons3@3x');
$spt-icons4-3x-name: 'spt-icons4@3x';
$spt-icons4-3x-x: 0;
$spt-icons4-3x-y: 423px;
$spt-icons4-3x-offset-x: 0;
$spt-icons4-3x-offset-y: -423px;
$spt-icons4-3x-width: 432px;
$spt-icons4-3x-height: 408px;
$spt-icons4-3x-total-width: 879px;
$spt-icons4-3x-total-height: 831px;
$spt-icons4-3x-image: '../images/icons@3x.png';
$spt-icons4-3x: (0, 423px, 0, -423px, 432px, 408px, 879px, 831px, '../images/icons@3x.png', 'spt-icons4@3x');
$spt-iconsName-3x-name: 'spt-iconsName@3x';
$spt-iconsName-3x-x: 447px;
$spt-iconsName-3x-y: 423px;
$spt-iconsName-3x-offset-x: -447px;
$spt-iconsName-3x-offset-y: -423px;
$spt-iconsName-3x-width: 432px;
$spt-iconsName-3x-height: 408px;
$spt-iconsName-3x-total-width: 879px;
$spt-iconsName-3x-total-height: 831px;
$spt-iconsName-3x-image: '../images/icons@3x.png';
$spt-iconsName-3x: (447px, 423px, -447px, -423px, 432px, 408px, 879px, 831px, '../images/icons@3x.png', 'spt-iconsName@3x');
$ssh-icons-3x-width: 879px;
$ssh-icons-3x-height: 831px;
$ssh-icons-3x-image: '../images/icons@3x.png';
$ssh-icons-3x-sprites: ($spt-icons2-3x, $spt-icons3-3x, $spt-icons4-3x, $spt-iconsName-3x);
$ssh-icons-3x: (879px, 831px, '../images/icons@3x.png', $ssh-icons-3x-sprites);
