@import 'tx/tx';
@import 'tx/tx-debugMixins';
@import 'tx/tx-projectImages';

@import 'project-colors';
@import 'project-sprites';
@import 'project-baseline';
@import 'project-layout';
@import 'project-ui';



// Project Properties

$tx-IE: false;
$tx-remFallback: true;
