// Layout

$desktop-min: 980px;
$desktop-wide: 1366px;
$desktop-max: 1920px;
$phone-max: 720px;

$desktop-min-rem: #{($desktop-min / $fontSize) * $fontSizeQuotient}em;
$desktop-wide-rem: #{($desktop-wide / $fontSize) * $fontSizeQuotient}em;
$desktop-max-rem: #{($desktop-max / $fontSize) * $fontSizeQuotient}em;
$phone-max-rem: #{($phone-max / $fontSize) * $fontSizeQuotient}em;



$gap: 30px;
