@import "tx/tx";
@import "tx/tx-projectImages";

@import "project-colors";
@import "project-typography";
@import "project-layout";
@import "project-sprites";
@import "project-ui";



// TX Properties

$browser-font-size: 16px;
$font-unit: 1em;
$base-font-size: $font-size;
$base-line-height: $line-height;
$grid-background-baseline-color: $blue;
$tx-ie: false;
