html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	line-height: 1.5em;
}

body {
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}



html {
	-webkit-overflow-scrolling: touch;
	min-height: 100%;
}

body {
	position: relative;
	overflow-x: auto;
	overflow-y: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	min-width: 980px;
	min-height: 100%;
	max-width: 1400px;
	padding: 0 30px;
	margin: 0 auto;
	background: #ffffff;
}



::-webkit-selection {
	color: #ffffff;
	background: #337ab7;
}

::-moz-selection {
	color: #ffffff;
	background: #337ab7;
}

::selection {
	color: #ffffff;
	background: #337ab7;
}