html, body, div, h1, h2, h3, h4, h5, h6, p, address, blockquote, pre, a, abbr, acronym, big, cite, code, del, dfn, em, ins, kbd, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, section {
	padding: 0;
	border: none;
	margin: 0;
	background: none;
	outline: none;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	line-height: inherit;
	vertical-align: baseline;
}

html {
	-webkit-overflow-scrolling: touch;
}

blockquote {
	quotes: none;
}

blockquote:before, blockquote:after {
	content: "";
	content: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

ul, ol {
	list-style: none;
}

section {
	display: block;
}

input, select, textarea {
	padding: 0;
	margin: 0;
}

select {
	text-transform: none;
}



html {
	font-size: 100%;
	line-height: 1.5em;
}

body {
	counter-reset: heading;
	color: #000000;
	background: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}

::-webkit-selection {
	color: white;
	background: blue;
}

::-moz-selection {
	color: white;
	background: blue;
}

::selection {
	color: white;
	background: blue;
}

a {
	color: #003b9e;
	text-decoration: underline;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #ff0000;
}

a:active {
	color: #ff0000;
}

a:focus {
	color: #000000;
	outline: 1px dotted #939393;
}

label, .button {
	cursor: pointer;
}

label {
	border-width: 0 0 1px;
	border-style: dotted;
	border-color: #939393;
}

label:focus {
	border: none;
	outline: 1px dotted #939393;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;

	text-rendering: optimizelegibility;
}

h1 {
	margin: .75em 0 1.5em;
	font-size: 2em;
	line-height: 1.5em;
}

h2 {
	margin: 1em 0;
	font-size: 1.5em;
	line-height: 2em;
}

h3 {
	margin: 1.09091em 0;
	font-size: 1.375em;
	line-height: 1.09091em;
}

h4 {
	margin: 1.2em 0;
	font-size: 1.25em;
	line-height: 1.2em;
}

h5 {
	margin: 1.33333em 0;
	font-size: 1.125em;
	line-height: 1.33333em;
}

h6 {
	margin: 1.5em 0;
	font-size: 1em;
	line-height: 1.5em;
}

p, pre, dl, ul, ol, li, address, table {
	margin: 1.5em 0;
}

p, blockquote, li, dd {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

pre, code, var {
	font-family: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;
}

pre, code, del {
	color: #686868;
}

pre {
	overflow: hidden;
	padding: 0 1.5em;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	word-wrap: break-word;
}

blockquote, em, cite {
	font-style: italic;
}

blockquote {
	margin: 1.5em 3em;
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}

address {
	font-style: normal;
}

dt {
	margin: 1.5em 0 0;
	font-weight: bold;
}

dd {
	margin: 0 0 1.5em 1.5em;
	font-style: italic;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li ul {
	margin: 1.5em 0 1.5em 1.5em;
}

strong, dfn, kbd, acronym, abbr, var {
	font-weight: bold;
}

acronym, abbr, ins, del {
	border-width: 0 0 1px;
	border-style: dotted;
	border-color: #488dc6;
	color: #488dc6;
	text-decoration: none;
	cursor: help;
}

acronym, abbr {
	margin: 0 -.075em 0 0;
	letter-spacing: .075em;
}

kbd {
	display: inline-block;
	height: 24px;
	padding: 0 .5em;
	color: #333333;
	background: #ededed;
	background-clip: padding-box;
	border-radius: 3px;
	box-shadow: -2px -2px 2px #dadada inset;
	font-weight: bold;
	font-family: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;
	letter-spacing: .1em;
	line-height: 24px;
	vertical-align: top;
}

var {
	color: #d00837;
	font-style: normal;
}

del {
	text-decoration: line-through;
}

sup, sub {
	position: relative;
	font-size: .75em;
	line-height: 0;
}

sup {
	top: -.65em;
}

sub {
	bottom: -.25em;
}

big {
	font-size: 1.5em;
	line-height: 0;
}

small {
	font-size: .75em;
	line-height: 0;
}

caption {
	padding: 0 0 .75em;
	font-weight: bold;
}

table {
	width: 100%;
	table-layout: fixed;
}

td, th {
	padding: .6875em .5em .75em;
	border: 1px solid black;
}

th {
	font-weight: bold;
}

fieldset {
	padding: .75em 0 0;
}

legend {
	position: relative;
	left: -1.5em;
	padding: 0 1.5em;
	color: white;
	background: black;
	font-weight: bold;
}

input, select, textarea {
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
	line-height: 1.5em;
}

input, textarea {
	padding: 0 .5em;
}

input {
	height: 1.5em;
	border: none;
}

input::-moz-focus-inner, button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input[type="reset"], input[type="submit"] {
	overflow: visible;
	width: auto;
	cursor: pointer;
}

input, select {
	vertical-align: top;
}

input[type="radio"], input[type="checkbox"] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
}

select {
	height: 1.5em;
	border: 1px solid #9a9a9a;
}

select:focus {
	outline: 1px dotted #939393;
}

select[multiple] {
	height: 7.525em;
}

.field, textarea {
	border: 1px solid #9a9a9a;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset;
}

.field:focus, textarea:focus {
	outline: none;
	-webkit-animation: focusPulse 1.5s infinite;
	animation: focusPulse 1.5s infinite;
}

.field {
	height: 1.375em;
}

textarea {
	overflow: auto;
	height: 14.875em;
}

@-webkit-keyframes focusPulse {
	0% {
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset, 0 0 4px 1px #8ac7ff;
	}

	50% {
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset, 0 0 8px 1px #8ac7ff;
	}

	100% {
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset, 0 0 4px 1px #8ac7ff;
	}
}

@keyframes focusPulse {
	0% {
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset, 0 0 4px 1px #8ac7ff;
	}

	50% {
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset, 0 0 8px 1px #8ac7ff;
	}

	100% {
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset, 0 0 4px 1px #8ac7ff;
	}
}

/* Headings Counter */

.hNumber:before {
	position: relative;
	content: counter(heading) ". ";
	counter-increment: heading;
	display: inline-block;
}

/* High DPI Typography */

@media only screen and (min-resolution: 1.25dppx), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min--moz-device-pixel-ratio: 1.25), only screen and (-o-min-device-pixel-ratio: 5/4), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
	html {
		text-rendering: optimizelegibility;
	}
}

/* Phone Typography */

@media handheld, only screen and (max-width: 720px) {
	table, tr, th, td {
		display: block;
	}
}

/* Print Typography */

@media print {
	@page {
		margin: 0 .5cm;
	}

	a, acronym, abbr, ins, del, var, input, select, textarea {
		border: none;
		color: black;
		outline: none;
		text-decoration: none;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
		orphans: 3;
		widows: 3;
	}

	p {
		orphans: 3;
		widows: 3;
	}

	blockquote, pre, tr {
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}
}



html {
	min-height: 100%;
}

body {
	position: relative;
	overflow-x: auto;
	overflow-y: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	min-width: 980px;
	min-height: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

/* Content */

.content {
	padding: 0 30px;
}

.content:after {
	position: relative;
	content: "";
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
}

/* Print Layout */

@media print {
	body {
		max-width: none;
		padding: 0;
		margin: 0 10px;
		color: black;
		background: white;
	}
}