/* Typography & Vertical Rhythm */
dfn {
  font-style: normal;
}

img {
  -ms-interpolation-mode: bicubic;
}

/* Forms */
input[type='checkbox'],
input[type='radio'] {
  width: 13px;
  height: 13px;
}
