/* Inline-block */

kbd {
  display: inline-block;
}

/* Fast Touch */

a,
label,
select,
.button {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Link Touch State */

.mdz-touchevents a:hover,
.mdz-touchevents a:active {
  color: #337ab7;
}

/* Typography & Vertical Rhythm */

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.5;
}

body {
  color: #333;
  font-family: 'Segoe UI', Roboto, 'Droid Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
  -webkit-font-feature-settings: 'liga' 1, 'clig' 1, 'kern' 1, 'frac' 1;
  font-feature-settings: 'liga' 1, 'clig' 1, 'kern' 1, 'frac' 1;
  -epub-hyphens: manual;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 48px 0 18px;
  margin: 3rem 0 1.125rem;
  font-weight: bold;
  text-rendering: auto;
  -webkit-column-break-after: avoid;
  page-break-after: avoid;
  break-after: avoid;
  orphans: 3;
  widows: 3;
}

h1 {
  font-size: 39.81312px;
  font-size: 2.48832rem;
  line-height: 1.20563;
}

h2 {
  font-size: 33.1776px;
  font-size: 2.0736rem;
  line-height: 1.44676;
}

h3 {
  font-size: 27.648px;
  font-size: 1.728rem;
  line-height: 1.73611;
}

h4 {
  font-size: 23.04px;
  font-size: 1.44rem;
  line-height: 1.04167;
}

h5 {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 1.25;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

p,
dl,
ul,
ol,
pre,
address {
  margin: 18px 0;
  margin: 1.125rem 0;
}

pre,
code,
var {
  font-family: Consolas, Monaco, 'Andale Mono', 'Courier New', Courier, Freemono, 'Nimbus Mono L', monospace;
}

dd,
ul,
ol {
  padding: 0 0 0 1em;
}

dt {
  margin: 24px 0 12px;
  margin: 1.5rem 0 .75rem;
  font-weight: bold;
}

dd {
  margin: 12px 0;
  margin: .75rem 0;
  font-style: italic;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul {
  margin: 24px 0;
  margin: 1.5rem 0;
}

li {
  margin: 12px 0;
  margin: .75rem 0;
}

blockquote,
em,
cite {
  font-style: italic;
}

var,
strong,
dfn,
acronym,
abbr,
kbd,
th {
  font-weight: bold;
}

code,
var {
  color: #d9534f;
}

pre {
  overflow: hidden;
  padding: 0 1.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

var {
  font-style: normal;
}

blockquote {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: none;
}

blockquote {
  margin: 24px 3em;
  margin: 1.5rem 3em;
}

acronym,
abbr,
ins {
  text-decoration: none;
  cursor: help;
}

acronym,
abbr,
ins {
  border-bottom: 1px dotted #337ab7;
  color: #337ab7;
}

del {
  text-decoration: line-through;
}

acronym,
abbr {
  margin: 0 -.075em 0 0;
  letter-spacing: .075em;
}

address {
  font-style: normal;
}

del {
  border-bottom: 1px dotted #ccc;
  color: #ccc;
}

kbd {
  height: 22px;
  height: 1.375rem;
  padding: 0 .25em;
  border-radius: 3px;
  background: #ccc;
  background-clip: padding-box;
  font-weight: bold;
  font-family: Consolas, Monaco, 'Andale Mono', 'Courier New', Courier, Freemono, 'Nimbus Mono L', monospace;
  line-height: 1.375;
  vertical-align: top;
}

sup,
sub,
small {
  font-size: 12px;
  font-size: .75rem;
  line-height: 0;
}

sup,
sub {
  position: relative;
}

sup {
  top: -.65em;
}

sub {
  bottom: -.25em;
}

big {
  font-size: 33.1776px;
  font-size: 2.0736rem;
  line-height: 0;
}

caption {
  padding: 0 0 12px;
  padding: 0 0 .75rem;
  font-weight: bold;
  text-align: left;
}

td,
th {
  padding: 23px 15px 24px;
  padding: 1.4375rem 15px 1.5rem;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 24px 0;
  margin: 1.5rem 0;
}

th {
  text-align: left;
}

fieldset {
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
}

legend {
  position: relative;
  left: -1.5em;
  padding: 0 1.5em;
  font-weight: bold;
}

/* Selection */

::-moz-selection {
  color: #fff;
  background: #337ab7;
}

::selection {
  color: #fff;
  background: #337ab7;
}

/* Focus */

a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 1px dotted #ccc;
}

/* Links */

a {
  color: #6f5499;
  -webkit-tap-highlight-color: rgba(35, 82, 124, .25);
  text-decoration: underline;
  -webkit-transition: .2s;
  transition: .2s;
}

a:visited {
  color: #d9534f;
}

a:hover {
  color: #23527c;
}

/* Forms */

label {
  cursor: pointer;
}

input,
select,
textarea {
  margin: 0;
  font-family: inherit;
}

input,
select {
  font-size: inherit;
}

input,
textarea {
  box-sizing: content-box;
}

input {
  border: 0;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

select {
  text-transform: none;
}

input,
select {
  vertical-align: top;
}

select,
textarea,
.field {
  border: 1px solid #ccc;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  vertical-align: middle;
}

input[type='submit'],
input[type='search'],
input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
  opacity: 1;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

select {
  height: 36px;
  height: 2.25rem;
  vertical-align: top;
}

select[multiple] {
  height: 120px;
  height: 7.5rem;
}

.button {
  height: 36px;
  height: 2.25rem;
  padding: 0 15px;
  cursor: pointer;
}

textarea {
  display: block;
  overflow: auto;
  height: 214px;
  height: 13.375rem;
  padding: 6px 15px;
  padding: .375rem 15px;
  font-size: inherit;
}

/* Layout */

html {
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
}

body {
  position: relative;
  overflow-x: auto;
  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  min-width: 61.25em;
  min-height: 100%;
  max-width: 1920px;
  padding: 0 30px;
  margin: 0 auto;
  background: #fff;
}

/* Field */

.field {
  height: 34px;
  height: 2.125rem;
  padding: 0 15px;
}

/* Phone */

@media only screen and (max-width: 45em) {

  /* Layout */

  body {
    min-width: 0;
  }

}

/* Print */

@media print {

  /*csslint regex-selectors: false*/

  /* Typography & Vertical Rhythm */

  @page {
    size: A4;
    margin: .5cm;
  }

  html,
  body {
    background: #fff;
  }

  body {
    color: #333;
    font-size: 12pt;
    line-height: 1.5;
  }

  pre,
  code,
  var,
  acronym,
  abbr,
  ins,
  del {
    border: 0;
    color: #333;
    text-decoration: none;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  blockquote,
  table,
  tr {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  acronym[title]:after,
  abbr[title]:after,
  ins[title]:after {
    content: ' (' attr(title) ')';
  }

  thead {
    display: table-header-group;
  }

  /* Links */

  a[href^='mailto:']:after,
  a[href^='tel:']:after {
    content: '';
  }

  a {
    color: #333;
    text-decoration: none;
  }

  a:after {
    content: ' (' attr(href) ')';
    font-size: 90%;
  }

  a:visited {
    color: #333;
  }

  /* Forms */

  form,
  input,
  select,
  textarea {
    display: none;
  }

  /* Layout */

  body {
    width: auto;
    min-width: 0;
    max-width: none;
    padding: 2.54cm;
  }

  /*csslint regex-selectors: warning*/

}
