/* line 5, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/reset.scss */

html, body, div, h1, h2, h3, h4, h5, h6, p, address, blockquote, pre, a, abbr, acronym, big, cite, code, del, dfn, em, ins, kbd, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, section {
	padding: 0;
	border: none;
	margin: 0;
	background: none;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	line-height: inherit;
	vertical-align: baseline;
}

/* line 17, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/reset.scss */

html {
	-webkit-overflow-scrolling: touch;
}

/* line 21, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/reset.scss */

blockquote {
	quotes: none;
}

/* line 24, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/reset.scss */

blockquote:before, blockquote:after {
	content: "";
	content: none;
}

/* line 31, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/reset.scss */

table {
	border-spacing: 0;
	border-collapse: collapse;
}

/* line 36, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/reset.scss */

caption, th, td {
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

/* line 42, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/reset.scss */

ul, ol {
	list-style: none;
}

/* line 46, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/reset.scss */

section {
	display: block;
}

/* line 50, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/reset.scss */

input, select, textarea {
	padding: 0;
	margin: 0;
}

/* line 55, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/reset.scss */

select {
	text-transform: none;
}



/* line 11, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

html {
	font-size: 100%;
	line-height: 1.5em;
}

/* line 16, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

body {
	counter-reset: heading;
	color: #000000;
	background: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}

/* line 25, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx */

::-webkit-selection {
	color: white;
	background: blue;
}

/* line 25, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx */

::-moz-selection {
	color: white;
	background: blue;
}

/* line 25, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx */

::-moz-selection {
	color: white;
	background: blue;
}

::selection {
	color: white;
	background: blue;
}

/* line 25, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

a {
	color: #003b9e;
	text-decoration: underline;
}

/* line 29, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

a:visited {
	color: #000000;
}

/* line 33, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

a:hover {
	color: #ff0000;
}

/* line 37, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

a:active {
	color: #ff0000;
}

/* line 41, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

a:focus {
	color: #000000;
	outline: 1px dotted #939393;
}

/* line 48, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

label, .button {
	cursor: pointer;
}

/* line 52, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

label {
	border-width: 0 0 1px;
	border-style: dotted;
	border-color: #939393;
}

/* line 57, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

label:focus {
	border: none;
	outline: 1px dotted #939393;
}

/* line 64, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	page-break-after: avoid;
	orphans: 3;
	widows: 3;

	text-rendering: optimizelegibility;
}

/* line 72, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

h1 {
	margin: .75em 0 1.5em;
	font-size: 2em;
	line-height: 1.5em;
}

/* line 77, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

h2 {
	margin: 1em 0;
	font-size: 1.5em;
	line-height: 2em;
}

/* line 82, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

h3 {
	margin: 1.09091em 0;
	font-size: 1.375em;
	line-height: 1.09091em;
}

/* line 87, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

h4 {
	margin: 1.2em 0;
	font-size: 1.25em;
	line-height: 1.2em;
}

/* line 92, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

h5 {
	margin: 1.33333em 0;
	font-size: 1.125em;
	line-height: 1.33333em;
}

/* line 97, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

h6 {
	margin: 1.5em 0;
	font-size: 1em;
	line-height: 1.5em;
}

/* line 102, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

p, pre, dl, ul, ol, li, address, table {
	margin: 1.5em 0;
}

/* line 106, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

p, blockquote, li, dd {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* line 110, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

pre, code, var {
	font-family: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;
}

/* line 114, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

pre, code, del {
	color: #686868;
}

/* line 118, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

pre {
	overflow: hidden;
	padding: 0 1.5em;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	word-wrap: break-word;
}

/* line 124, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

blockquote, em, cite {
	font-style: italic;
}

/* line 128, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

blockquote {
	margin: 1.5em 3em;
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}

/* line 133, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

address {
	font-style: normal;
}

/* line 137, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

dt {
	margin: 1.5em 0 0;
	font-weight: bold;
}

/* line 142, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

dd {
	margin: 0 0 1.5em 1.5em;
	font-style: italic;
}

/* line 147, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

ul {
	list-style-type: disc;
}

/* line 151, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

ol {
	list-style-type: decimal;
}

/* line 157, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

li ul {
	margin: 1.5em 0 1.5em 1.5em;
}

/* line 163, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

strong, dfn, kbd, acronym, abbr, var {
	font-weight: bold;
}

/* line 167, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

acronym, abbr, ins, del {
	border-width: 0 0 1px;
	border-style: dotted;
	border-color: #488dc6;
	color: #488dc6;
	text-decoration: none;
	cursor: help;
}

/* line 176, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

acronym, abbr {
	margin: 0 -.075em 0 0;
	letter-spacing: .075em;
}

/* line 181, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

kbd {
	display: inline-block;
	height: 24px;
	padding: 0 .5em;
	color: #333333;
	background: #ededed;
	background-clip: padding-box;
	border-radius: 3px;
	box-shadow: -2px -2px 2px #dadada inset;
	font-weight: bold;
	font-family: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;
	letter-spacing: .1em;
	line-height: 24px;
	vertical-align: top;
}

/* line 196, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

var {
	color: #d00837;
	font-style: normal;
}

/* line 201, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

del {
	text-decoration: line-through;
}

/* line 205, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

sup, sub {
	position: relative;
	font-size: .75em;
	line-height: 0;
}

/* line 210, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

sup {
	top: -.65em;
}

/* line 214, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

sub {
	bottom: -.25em;
}

/* line 218, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

big {
	font-size: 1.5em;
	line-height: 0;
}

/* line 222, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

small {
	font-size: .75em;
	line-height: 0;
}

/* line 235, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

caption {
	padding: 0 0 .75em;
	font-weight: bold;
}

/* line 240, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

table {
	width: 100%;
	table-layout: fixed;
}

/* line 245, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

td, th {
	padding: .6875em .5em .75em;
	border: 1px solid black;
}

/* line 249, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

th {
	font-weight: bold;
}

/* line 253, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

fieldset {
	padding: .75em 0 0;
}

/* line 257, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

legend {
	position: relative;
	left: -1.5em;
	padding: 0 1.5em;
	color: white;
	background: black;
	font-weight: bold;
}

/* line 266, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

input, select, textarea {
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
	line-height: 1.5em;
}

/* line 271, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

input, textarea {
	padding: 0 .5em;
}

/* line 275, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

input {
	height: 1.5em;
	border: none;
}

/* line 279, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

input::-moz-focus-inner, button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* line 286, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

input[type="reset"], input[type="submit"] {
	overflow: visible;
	width: auto;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* line 305, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

input, select {
	vertical-align: top;
}

/* line 311, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

input[type="radio"], input[type="checkbox"] {
	box-sizing: border-box;
	vertical-align: top;
}

/* line 338, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

select {
	height: 1.5em;
	border: 1px solid #9a9a9a;
}

/* line 342, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

select:focus {
	outline: 1px dotted #939393;
}

/* line 346, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

select[multiple] {
	height: 7.525em;
}

/* line 352, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

.field, textarea {
	border: 1px solid #9a9a9a;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset;
}

/* line 356, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

.field:focus, textarea:focus {
	outline: none;
	-webkit-animation: focusPulse 1.5s infinite;
	animation: focusPulse 1.5s infinite;
}

/* line 363, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

.field {
	height: 1.375em;
}

/* line 367, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

textarea {
	overflow: auto;
	height: 14.875em;
}

@-webkit-keyframes focusPulse {
	/* line 373, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	0% {
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset, 0 0 4px 1px #8ac7ff;
	}

	/* line 376, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	50% {
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset, 0 0 8px 1px #8ac7ff;
	}

	/* line 379, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	100% {
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset, 0 0 4px 1px #8ac7ff;
	}
}

@keyframes focusPulse {
	/* line 373, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	0% {
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset, 0 0 4px 1px #8ac7ff;
	}

	/* line 376, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	50% {
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset, 0 0 8px 1px #8ac7ff;
	}

	/* line 379, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */
	100% {
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25) inset, 0 0 4px 1px #8ac7ff;
	}
}

/* line 60, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/tx/tx-typographyAdd */

.hNumber:before {
	position: relative;
	content: counter(heading) ". ";
	counter-increment: heading;
	display: inline-block;
}

/* High DPI Typography */

@media only screen and (min-resolution: 1.25dppx), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min--moz-device-pixel-ratio: 1.25), only screen and (-o-min-device-pixel-ratio: 5/4), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
	/* line 403, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

	html {
		text-rendering: optimizelegibility;
	}
}

/* Phone Typography */

@media handheld, only screen and (max-width: 720px) {
	/* line 415, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

	table, tr, th, td {
		display: block;
	}
}

/* Print Typography */

@media print {
	@page {
		margin: 0 .5cm;
	}

	/* line 441, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

	body {
		width: 100%;
		max-width: none;
		padding: 0;
		margin: 0;
		color: #000000;
		background: #ffffff;
		font-size: 16pt;
	}

	/* line 451, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

	a, acronym, abbr, ins, del, var, input, select, textarea {
		border: none;
		color: black;
		text-decoration: none;
	}

	/* line 457, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

	a {
		color: #000000;
	}

	/* line 460, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

	a:visited {
		color: #000000;
	}

	/* line 466, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

	a[href]:after {
		content: " (" attr(href) ")";
		font-size: 90%;
	}

	/* line 475, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

	/* line 485, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/* line 491, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

	p {
		orphans: 3;
		widows: 3;
	}

	/* line 496, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

	blockquote, pre, tr {
		page-break-inside: avoid;
	}

	/* line 500, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/typography.scss */

	thead {
		display: table-header-group;
	}
}



/* line 11, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/layout.scss */

html {
	min-height: 100%;
}

/* line 15, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/layout.scss */

body {
	position: relative;
	overflow-x: auto;
	overflow-y: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	min-width: 980px;
	min-height: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

/* line 34, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/layout.scss */

.content {
	padding: 0 30px;
}

/* line 37, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/layout.scss */

.content:after {
	position: relative;
	content: "";
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
}

/* Print Layout */

@media print {
	/* line 90, /Users/uncleFucka/Projects/TemplateX/dev/res/sass-dev/layout.scss */
}