/* Typography & Rhythm (Internet Explorer < 8) */
dfn {
  font-style: normal; }

img {
  -ms-interpolation-mode: bicubic; }

.ie6 {
  filter: expression(document.execCommand('BackgroundImageCache', false, true)); }
  .ie6 label {
    cursor: hand; }
  .ie6 pre {
    zoom: 1; }
  .ie6 ul, .ie6 .u-listReset ul {
    list-style: disc outside; }
  .ie6 ol, .ie6 .u-listReset ol {
    list-style: decimal outside; }
  .ie6 .u-listReset li li {
    margin: 1.5em 0; }
  .ie6 .u-descriptionListReset dl dt {
    margin: 1.5em 0 0; }
  .ie6 .u-descriptionListReset dl dd {
    margin: 0 0 1.5em 1.5em;
    font-style: italic; }


/* Lists Reset (Internet Explorer < 8) */
.ie6 .u-listReset, .ie6 .u-descriptionListReset {
  padding: 0;
  margin: 0; }

.ie6 .u-listReset {
  list-style: none outside; }
  .ie6 .u-listReset li {
    padding: 0;
    margin: 0; }

.ie6 .u-descriptionListReset dt, .ie6 .u-descriptionListReset dd {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal; }




/* Forms */
input[type="checkbox"], input[type="radio"] {
  width: 13px;
  height: 13px; }

/* Internet Explorer 6 */
.ie6 button, .ie6 .button {
  height: 1.5em;
  cursor: hand; }

.ie6 input {
  vertical-align: text-bottom; }

