$font-size: 16px
$line-height: 24px

$text-color: #000

$sans-font: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif
$serif-font: Cambria, Georgia, Times, "Times New Roman", serif
$monospace-font: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace

$link: #003b9e
$hover: #f00
$active: #f00
$visited: #000
$focus: #000
$focus-outline: #939393

$content-background: #fff

$h1-font-size: $font-size * 2
$h2-font-size: $font-size * 1.5
$h3-font-size: $font-size * 1.375
$h4-font-size: $font-size * 1.25
$h5-font-size: $font-size * 1.125
$h6-font-size: $font-size

$img: "../images/"
$spts: "../images/sprites.png"

$side-panel: 260px
$gap: 36px
$box: 260px

$grid-background-baseline-color: rgba(0, 102, 255, .25)