@import "compass"
@import "txsass/wtmixins"
@import "txsass/wtparameters"



// Layout (Internet Explorer < 8)

// Aside

.ie6 .sPLeft
	margin: 0 (-($horizontal-gap + 3)) 0 0

.ie6 .sPRight
	margin: 0 0 0 (-($horizontal-gap + 3))



// inline-block

fieldset, .form dt, .form dd, .pages li
	+wt-inline-block-ie



// zoom

.ie6 .breadCrumbs, .ie6 .content, .ie6 .news, .ie6 .pages, .footer
	zoom: 1