@import "compass"
@import "compass/css3/user-interface"
@import "txsass/tx.mixins"
@import "txsass/tx.parameters"






/* Layout */



body
	position: relative
	+tx-set-boundaries
	background: $background



/* Counters Code */

.countersCode
	position: absolute
	width: 1px
	height: 100px
	top: 0
	left: 0
	overflow: hidden
	z-index: -1



/* Header */

.header
	position: relative
	z-index: 1



/* Content */

.content
	padding: 0 $gap

	&:after
		+tx-pseudo($position: relative)
		height: 1px
		margin: -1px 0 0
		font-size: 0
		clear: both



/* Footer */

.footer
	position: relative
	clear: both
	z-index: 1






/* Large Resolutions Layout */

@media only screen and (min-width: 1382px) 






/* Print Layout */

@media print 

	body 
		max-width: none
		margin: 0 10px
		padding: 0



	.header, .footer 
		display: none






/* Small Resolutions Layout */

@media handheld, only screen and (max-width: 480px) 

	html 
		-webkit-text-size-adjust: none
	
	body 
		min-width: 0
		max-width: none






/* Smartphones (Landscape) Layout */

@media only screen and (min-width : 321px) 






/* Smartphones (Portrait) Layout */

@media only screen and (max-width : 320px) 






/* Tablets Layout */

@media only screen and (min-width: 481px) and (max-width : 800px) 

	body 
		min-width: 0
		max-width: none
	





/* Tablets (Landscape) Layout */

@media only screen and (max-width : 1024px) and (orientation : landscape) 






/* Tablets (Portrait) Layout */

@media only screen and (max-width : 768px) and (orientation : portrait) 






/* TV Layout */

@media projection, tv 






/* Audio Layout */

@media aural 