@import "compass"
@import "compass/css3/user-interface"
@import "txsass/tx.mixins"
@import "txsass/tx.mixins.debug"
@import "txsass/tx.project"






/* Layout */



html
	min-height: 100%

body
	position: relative
	+tx-set-boundaries
	background: $background



/* Header */

.header
	position: relative
	z-index: 0



/* Content */

.content
	padding: 0 $gap

	&:after
		+tx-pseudo($pos: relative)
		height: 0
		font-size: 0
		clear: both



/* Footer */

.footer
	position: relative
	clear: both
	z-index: 0






/* High DPI Layout */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)






/* Large Resolution Layout */

@media only screen and (min-width: 1382px)






/* Phone Layout */

@media handheld, only screen and (max-width: 720px)

@media only screen and (min-resolution: 1.5dppx) and (max-width: 720px), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 720px), only screen and (min--moz-device-pixel-ratio: 1.5) and (max-width: 720px), only screen and (-o-min-device-pixel-ratio: 3/2) and (max-width: 720px), only screen and (min-device-pixel-ratio: 1.5) and (max-width: 720px)






/* Tablet Layout */

@media only screen and (min-width: 721px) and (max-width : 1024px)

@media only screen and (min-resolution: 1.5dppx) and (min-width: 721px) and (max-width : 1024px), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 721px) and (max-width : 1024px), only screen and (min--moz-device-pixel-ratio: 1.5) and (min-width: 721px) and (max-width : 1024px), only screen and (-o-min-device-pixel-ratio: 3/2) and (min-width: 721px) and (max-width : 1024px), only screen and (min-device-pixel-ratio: 1.5) and (min-width: 721px) and (max-width : 1024px)






/* Print Layout */

@media print

	body 
		max-width: none
		margin: 0 10px
		padding: 0



	.header, .footer 
		display: none






/* TV Layout */

@media projection, tv






/* Audio Layout */

@media aural