@import "compass"
@import "compass/css3/user-interface"
@import "txsass/tx.mixins"
@import "txsass/tx.parameters"






/* Icons (Internet Explorer < 8) */



.icn
	+tx-pseudo-ie($after: false)

	.ieBefore
		+tx-pseudo($ie: true)
		left: 0
		background: url(../images/txex.icons.gif) no-repeat 0 0

.icn1

	.ieBefore
		width: 6px
		height: 11px
		top: 2px
		margin: 0 0 0 -10px
		background-position: 0 0

.icn2

	.ieBefore
		width: 11px
		height: 11px
		top: 2px
		margin: 0 0 0 -14px
		background-position: -6px 0

.icn3

	.ieBefore
		width: 13px
		height: 11px
		top: 2px
		margin: 0 0 0 -17px
		background-position: -17px 0

.icn4

	.ieBefore
		width: 27px
		height: 11px
		top: 2px
		margin: 0 0 0 -31px
		background-position: -31px 0

.icn5

	.ieBefore
		width: 17px
		height: 27px
		top: 2px
		margin: 0 0 0 -21px
		background-position: -3px -11px