@import "compass"
@import "compass/css3/user-interface"
@import "txsass/tx.mixins"
@import "txsass/tx.parameters"






/* Icons */



.icons
	+tx-rhythm(1, 1)

	li
		+tx-rhythm(1, 1)

.icn
	position: relative

	&:before
		+tx-pseudo
		left: 0
		background: url(../images/txex.icons.gif) no-repeat 0 0

.icn1:before
	width: 6px
	height: 11px
	top: 3px
	margin: 0 0 0 -10px
	background-position: 0 0

.icn2:before
	width: 11px
	height: 11px
	top: 3px
	margin: 0 0 0 -14px
	background-position: -6px 0

.icn3:before
	width: 13px
	height: 11px
	top: 3px
	margin: 0 0 0 -17px
	background-position: -17px 0

.icn4:before
	width: 27px
	height: 11px
	top: 2px
	margin: 0 0 0 -31px
	background-position: -31px 0

.icn5:before
	width: 17px
	height: 27px
	top: 0
	margin: 0 0 0 -21px
	background-position: -3px -11px