@import "compass"
@import "compass/css3/user-interface"
@import "txsass/tx.mixins"
@import "txsass/tx.parameters"






/* Layout (Internet Explorer < 8) */



/* Aside */

.ie6
	
	.sPLeft
		margin: 0 (-$gap - 3) 0 0

	.sPRight
		margin: 0 0 0 (-$gap - 3)



/* inline-block */

.form dt, .form dd, .pages li
	+tx-inline-block-ie



/* zoom */

.ie6

	.breadCrumbs, .news, .pages
		zoom: 1