@import "compass"
@import "compass/css3/user-interface"
@import "txsass/tx.mixins"
@import "txsass/tx.mixins.debug"
@import "txsass/tx.parameters"

$tx-ie: true






/* Base Typographics & Rhythm (Internet Explorer < 8) */



dfn
	font-style: normal

.ie6

	label, button, .button
		cursor: hand

	pre
		zoom: 1

	.content

		ul, .lstRst li ul
			list-style: disc outside

		ol, .lstRst li ol
			list-style: decimal outside

		.lstRst
			
			li
				
				li
					+tx-rhythm(1, 1)

		.dfLstRst

			dl

				dt
					+tx-rhythm(1)

		.dfLstRst

			dl
				dd
					+tx-rhythm(0, 1, $mlft: 1.5em)
					font-style: italic

	input
		vertical-align: text-bottom