// TemplateX Components

@import 'tx-components/_tx-block';
@import 'tx-components/_tx-breakpoints';
@import 'tx-components/_tx-images';
@import 'tx-components/_tx-layout';
@import 'tx-components/_tx-link';
@import 'tx-components/_tx-ratio';
@import 'tx-components/_tx-rhythm';
@import 'tx-components/_tx-relative';
@import 'tx-components/_tx-sprites';
@import 'tx-components/_tx-svg';
@import 'tx-components/_tx-typography';
@import 'tx-components/_tx-utilities';
