/* Layout */

// sass-lint:disable no-vendor-prefixes

html {
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
}

// sass-lint:enable no-vendor-prefixes

body {
  @include tx-set-boundaries($body-minWidth);
  @include tx-scroll-bar(true);
  position: relative;
  padding: 0 $gap;
  background: $background;
}



/* Phone Layout */

@import '_layout-phone';



/* Print Layout */

@import '_layout-print';
