// General Properties

$sansSerif-font: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
$serif-font: Cambria, Georgia, Times, "Times New Roman", serif;
$monospace-font: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;

$white: #fff;
$red: #d9534f;
$blue: #337ab7;
$blueDark: #23527c;
$purple: #6f5499;
$gray: #ccc;
$black: #333;



// Project Defaults

$min-width: 980px;

$text: $black;
$link: $blue;
$visited: $purple;
$hover: $blueDark;
$active: $blueDark;
$focus-outline: $gray;

$background: $white;

$selection-color: $white;
$selection-bg: $blue;

$print-color: $black;
$print-bg: $white;

$font: $sansSerif-font;
$font-mono: $monospace-font;
$font-size: 16px;
$line-height: $font-size * 1.5;



// TX Properties

$browser-font-size: 16px;
$font-unit: 1em;
$base-font-size: $font-size;
$base-line-height: $line-height;
$grid-background-baseline-color: $blue;
$tx-ie: false;
