@import "tx/tx";
@import "tx/tx-projectImages";

@import "project";
@import "project-global";



// Layout



/* Layout Base */

html {
	min-height: 100%;
	-webkit-overflow-scrolling: touch;
}

body {
	@include tx-set-boundaries($min-width);
	@include tx-scroll-bar(true);
	position: relative;
	background: $background;
}



/* High DPI Layout */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {}



/* Large Resolution Layout */

@media only screen and (min-width: 1382px) {}



/* Phone Layout */

@media handheld, only screen and (max-width: 720px) {

	@import "phone/layout-phone";

}

@media only screen and (max-width: 720px) and (min-resolution: 1.5dppx),	only screen and (max-width: 720px) and (-webkit-min-device-pixel-ratio: 1.5),	only screen and (max-width: 720px) and (min--moz-device-pixel-ratio: 1.5),	only screen and (max-width: 720px) and (-o-min-device-pixel-ratio: 3 / 2),	only screen and (max-width: 720px) and (min-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (min-resolution: 150dpi) {}



/* Tablet Layout */

@media only screen and (min-width: 721px) and (max-width: $min-width) {}

@media only screen and (min-width: 721px) and (max-width: $min-width) and (min-resolution: 1.5dppx), only screen and (min-width: 721px) and (max-width: $min-width) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 721px) and (max-width: $min-width) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (min-resolution: 150dpi) {}



/* Print Layout */

@media print {

	@import "print/layout-print";

}



/* TV Layout */

@media projection, tv {}



/* Audio Layout */

@media aural {}
