@import "tx/tx";
@import "tx/tx-projectImages";

@import "project";
@import "project-global";



// Basic Typography & Rhythm



/* Typography & Rhythm */

html {
	@include tx-baseline;
	text-size-adjust: 100%;
}

body {
	color: $text;
	font-family: $font;
}

@include tx-selection-style;

article, aside, figure, figcaption, footer, header, hgroup, nav, section {
	display: block;
}

a {
	color: $link;
	text-decoration: underline;

	&:visited {
		color: $visited;
	}

	&:hover {
		color: $hover;
	}

	&:active {
		color: $active;
	}

	&:focus {
		outline: 1px dotted $focus-outline;
	}

}

label {
	cursor: pointer;
	border-bottom: 1px dotted $focus-outline;

	&:focus {
		border: none;
		outline: 1px dotted $focus-outline;
	}

}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	page-break-after: avoid;
	orphans: 3;
	widows: 3;
}

h1 {
	@include tx-rhythm(1, 2, $h1-fontSize);
	@include tx-font-size($h1-fontSize, 2);
}

h2 {
	@include tx-rhythm(1, 1, $h2-fontSize);
	@include tx-font-size($h2-fontSize, 2);
}

h3 {
	@include tx-rhythm(1, 1, $h3-fontSize);
	@include tx-font-size($h3-fontSize, 1);
}

h4 {
	@include tx-rhythm(1, 1, $h4-fontSize);
	@include tx-font-size($h4-fontSize, 1);
}

h5 {
	@include tx-rhythm(1, 1, $h5-fontSize);
	@include tx-font-size($h5-fontSize, 1);
}

h6 {
	@include tx-rhythm(1, 1, $h6-fontSize);
	@include tx-font-size($h6-fontSize, 1);
}

p, pre, dl, ul, ol, li, address, video, audio, table {
	@include tx-rhythm(1, 1);
}

p, blockquote, li, dd {
	hyphens: manual;
}

pre, code, samp, var, tt {
	font-family: $font-mono;
}

pre, code, samp, var {
	$pre-color: $red;

	color: $pre-color;
}

pre {
	@include tx-force-wrap;
	padding: 0 1.5em;
	overflow: hidden;
}

blockquote, em, cite, q, i {
	font-style: italic;
}

blockquote, q {
	quotes: none;

	&:before, &:after {
		content: "";
		content: none;
	}

}

blockquote {
	@include tx-rhythm(1, 1, $mrgt: 3em, $mlft: 3em);
}

address {
	font-style: normal;
}

dt {
	@include tx-rhythm(1);
	font-weight: bold;
}

dd {
	@include tx-rhythm(0, 1, $mlft: 1.5em);
	font-style: italic;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li {

	ul, ol {
		@include tx-rhythm(1, 1, $mlft: 1.5em);
	}

}

strong, dfn, b, kbd, acronym, abbr, var {
	font-weight: bold;
}

acronym, abbr, ins, mark, del {
	text-decoration: none;
	cursor: help;
}

acronym, abbr, ins, mark {
	$acronym-color: $blue;

	color: $acronym-color;
	border-bottom: 1px dotted $acronym-color;
}

acronym, abbr {
	margin: 0 -.075em 0 0;
	letter-spacing: .075em;
}

del {
	$del-color: $red;
	$del-borderWidth: 1px;

	color: $del-color;
	border-bottom: $del-borderWidth dotted $del-color;
}

kbd {
	$kbd-bg: $gray;

	@include tx-inline-block;
	@include tx-grid-height(1);
	padding: 0 .5em;
	background: $kbd-bg;
	background-clip: padding-box;
	font-family: $font-mono;
	font-weight: bold;
	letter-spacing: .1em;
	vertical-align: top;
	border-radius: 3px;
}

var {
	$var-color: $red;

	color: $var-color;
	font-style: normal;
}

del, strike, s {
	text-decoration: line-through;
}

sup, sub {
	@include tx-font-size($font-size * .75, 0);
	position: relative;
}

sup {
	top: -.65em;
}

sub {
	bottom: -.25em;
}

big {
	@include tx-font-size($font-size * 1.5, 0);
}

small {
	@include tx-font-size($font-size * .75, 0);
}

u {
	text-decoration: underline;
}

img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}

caption {
	@include tx-rhythm-padding(0, .5);
	font-weight: bold;
	text-align: left;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	$cell-borderColor: $gray;

	@include tx-table-borders(1px, .5, $bcolor: $cell-borderColor);
}

th {
	font-weight: bold;
	text-align: left;
}

fieldset {
	padding: 0;
	border: none;
}

legend {
	$legend-padding: 1.5em;

	position: relative;
	left: -$legend-padding;
	padding: 0 $legend-padding;
	font-weight: bold;
}

hr {
	$hr-borderColor: $black;

	@include tx-rhythm(1, 1);
	display: block;
	height: 0;
	padding: 0;
	border-top: 1px solid $hr-borderColor;
}



/* High DPI Typography */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {

	html {
		text-rendering: optimizelegibility;
	}

}



/* Phone Typography */

@media handheld, only screen and (max-width: 720px) {

	@import "phone/typography-phone";

}

@media only screen and (max-width: 720px) and (min-resolution: 1.5dppx),	only screen and (max-width: 720px) and (-webkit-min-device-pixel-ratio: 1.5),	only screen and (max-width: 720px) and (min--moz-device-pixel-ratio: 1.5),	only screen and (max-width: 720px) and (-o-min-device-pixel-ratio: 3 / 2),	only screen and (max-width: 720px) and (min-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (min-resolution: 150dpi) {}



/* Tablet Typography */

@media only screen and (min-width: 721px) and (max-width: $min-width) {}

@media only screen and (min-width: 721px) and (max-width: $min-width) and (min-resolution: 1.5dppx), only screen and (min-width: 721px) and (max-width: $min-width) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 721px) and (max-width: $min-width) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (min-resolution: 150dpi) {}



/* Print Typography */

@media print {

	@import "print/typography-print";

}



/* TV Typography */

@media projection, tv {}



/* Audio Typography */

@media aural {}

