@import "tx/tx";
@import "tx/tx-project";
@import "tx/tx-projectImages";



// Base Typography & Rhythm



/* Typography & Rhythm */

html {
	@include tx-baseline;
	@include tx-font-adjustment;
}

body {
	@include tx-counter-reset(heading);
	color: $text;
	background: $background;
	font-family: $font;
}

@include tx-selection-style;

a {
	color: $link;
	text-decoration: underline;

	&:visited {
		color: $visited;
	}

	&:hover {
		color: $hover;
	}

	&:active {
		color: $active;
	}

	&:focus {
		color: $focus;
		outline: 1px dotted $focus-outline;
	}

}

label, button, .button {
	cursor: pointer;
}

label {
	border-width: 0 0 1px;
	border-style: dotted;
	border-color: $focus-outline;

	&:focus {
		border: none;
		outline: 1px dotted $focus-outline;
	}

}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	text-rendering: optimizelegibility;
	page-break-after: avoid;
	orphans: 3;
	widows: 3;
}

h1 {
	@include tx-rhythm(1, 2, $h1-font-size);
	@include tx-font-size($h1-font-size, 2);
}

h2 {
	@include tx-rhythm(1, 1, $h2-font-size);
	@include tx-font-size($h2-font-size, 2);
}

h3 {
	@include tx-rhythm(1, 1, $h3-font-size);
	@include tx-font-size($h3-font-size, 1);
}

h4 {
	@include tx-rhythm(1, 1, $h4-font-size);
	@include tx-font-size($h4-font-size, 1);
}

h5 {
	@include tx-rhythm(1, 1, $h5-font-size);
	@include tx-font-size($h5-font-size, 1);
}

h6 {
	@include tx-rhythm(1, 1, $h6-font-size);
	@include tx-font-size($h6-font-size, 1);
}

p, pre, dl, ul, ol, li, address, video, audio, table {
	@include tx-rhythm(1, 1);
}

p, blockquote, li, dd {
	@include tx-hyphens(auto);
}

pre, code, samp, var, tt {
	font-family: $font-mono;
}

pre, code, samp, del {
	color: $text-code;
}

pre {
	padding: 0 1.5em;
	@include tx-force-wrap;
	overflow: hidden;
}

blockquote, em, cite, q, i {
	font-style: italic;
}

blockquote {
	@include tx-rhythm(1, 1, $mrgt: 3em, $mlft: 3em);
	font-family: $font-alt;
}

address {
	font-style: normal;
}

dt {
	@include tx-rhythm(1);
	font-weight: bold;
}

dd {
	@include tx-rhythm(0, 1, $mlft: 1.5em);
	font-style: italic;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li {

	ul, ol {
		@include tx-rhythm(1, 1, $mlft: 1.5em);
	}

}

strong, dfn, b, kbd, acronym, abbr, var {
	font-weight: bold;
}

acronym, abbr, ins, mark, del {
	border-width: 0 0 1px;
	border-style: dotted;
	border-color: $text-ins;
	color: $text-ins;
	text-decoration: none;
	cursor: help;
}

acronym, abbr {
	margin: 0 -.075em 0 0;
	letter-spacing: .075em;
}

kbd {
	$kbd-bg: $grayLight;

	@include tx-inline-block;
	@include tx-grid-height(1);
	padding: 0 .5em;
	border-radius: 3px;
	background-clip: padding-box;
	color: $text-alt;
	background: $kbd-bg;
	font-family: $font-mono;
	font-weight: bold;
	letter-spacing: .1em;
	vertical-align: top;
}

var {
	color: $text-code;
	font-style: normal;
}

del, strike, s {
	text-decoration: line-through;
}

sup, sub {
	position: relative;
	@include tx-font-size($font-size * .75, 0);
}

sup {
	top: -.65em;
}

sub {
	bottom: -.25em;
}

big {
	@include tx-font-size($font-size * 1.5, 0);
}

small {
	@include tx-font-size($font-size * .75, 0);
}

u {
	text-decoration: underline;
}

img {
	max-width: 100%;
	vertical-align: top;
}

video {

	&::-webkit-media-controls-play-button {

	}

	&::-webkit-media-controls-timeline {

	}

	&::-webkit-media-controls-current-time-display{

	}

	&::-webkit-media-controls-time-remaining-display {

	}

	&::-webkit-media-controls-fullscreen-button {

	}

	&::-webkit-media-controls-toggle-closed-captions-button {

	}

	&::-webkit-media-controls-mute-button {

	}

	&::-webkit-media-controls-volume-slider {

	}

}

audio {

	&::-webkit-media-controls-play-button {

	}

	&::-webkit-media-controls-timeline {

	}

	&::-webkit-media-controls-current-time-display{

	}

	&::-webkit-media-controls-time-remaining-display {

	}

	&::-webkit-media-controls-volume-slider {

	}

}

caption {
	@include tx-rhythm-padding(0, .5);
	font-weight: bold;
}

table {
	width: 100%;
	table-layout: fixed;
}

td, th {
	@include tx-table-borders(1px, .5);
}

th {
	font-weight: bold;
}

fieldset {
	@include tx-rhythm-padding(.5, 0);
}

legend {
	position: relative;
	left: -1.5em;
	padding: 0 1.5em;
	color: white;
	background: black;
	font-weight: bold;
}

input, select, button, textarea {
	font-family: $font;
	@include tx-font-size($font-size, 1);
}

input, button, textarea {
	padding: 0 .5em;
}

input, button {
	@include tx-form-height(1, 0);
	border: none;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

}

input, select, textarea {

	&[disabled], &[readonly] {
		opacity: .5;
		cursor: default;
		cursor: not-allowed;
	}

}

input, select {
	vertical-align: top;
}

input {

	&[type="radio"], &[type="checkbox"] {
		box-sizing: border-box;
		vertical-align: top;
	}

	&[type="file"] {
		height: auto;
		border: none;
		line-height: normal;
	}

	&[type="search"] {
		-moz-appearance: textfield;
		-webkit-appearance: textfield;
		appearance: textfield;
		box-sizing: content-box;

		&::-webkit-search-cancel-button, &::-webkit-search-decoration {
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
		}

	}

}


input[type="reset"], input[type="submit"], button {
	width: auto;
	overflow: visible;
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;

	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

}

.field, textarea, select {
	$field-border: $grayLight;

	border: 1px solid $field-border;
}

.field, textarea {

	&:focus {
		outline: none;
		animation: focusPulse 1.5s infinite;
	}

}

.field {
	@include tx-form-height(1);
}

textarea {
	@include tx-form-height(10);
	overflow: auto;
}

@keyframes focusPulse {
	$focusPulse-shadow: $blueLight;

	0% {
		box-shadow: 0 0 4px 1px $focusPulse-shadow;
	}
	50% {
		box-shadow: 0 0 8px 1px $focusPulse-shadow;
	}
	100% {
		box-shadow: 0 0 4px 1px $focusPulse-shadow;
	}

}

select {
	@include tx-form-height(1, 0);

	&:focus {
		outline: 1px dotted $focus-outline;
	}

	&[multiple] {
		@include tx-form-height(5.1);
	}

}

hr {
	display: block;
	height: 1px;
	margin: 1.5em 0 -1px;
	padding: 0;
	border-width: 1px 0;
	border-style: solid;
	border-color: $text;
	box-sizing: content-box;
}

@import "tx/tx-typographyAdd";



/* High DPI Typography */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {

	html {
		text-rendering: optimizelegibility;
	}

}



/* Phone Typography */

@media handheld, only screen and (max-width: 720px) {

	table, tr, th, td {
		display: block;
	}

}

@media only screen and (max-width: 720px) and (min-resolution: 1.5dppx),	only screen and (max-width: 720px) and (-webkit-min-device-pixel-ratio: 1.5),	only screen and (max-width: 720px) and (min--moz-device-pixel-ratio: 1.5),	only screen and (max-width: 720px) and (-o-min-device-pixel-ratio: 3 / 2),	only screen and (max-width: 720px) and (min-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (min-resolution: 150dpi) {}



/* Tablet Typography */

@media only screen and (min-width: 721px) and (max-width: 1024px) {}

@media only screen and (min-width: 721px) and (max-width: 1024px) and (min-resolution: 1.5dppx), only screen and (min-width: 721px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: 1024px) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: 1024px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 721px) and (max-width: 1024px) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: 1024px) and (min-resolution: 150dpi) {}



/* Print Typography */

@media print {

	$print-color: $black;
	$print-bg: $white;

	@page {
		margin: 0 .5cm;
	}

	body {
		width: 100%;
		max-width: none;
		margin: 0;
		padding: 0;
		color: $print-color;
		background: $print-bg;
		font-size: 16pt;
	}

	a, acronym, abbr, ins, del, var, input, select, textarea {
		border: none;
		color: $print-color;
		text-decoration: none;
	}

	a {
		color: $print-color;

		&:visited {
			color: $print-color;
		}

		&[href] {

			&:after {
				content: " (" attr(href) ")";
				font-size: 90%;
			}

		}

		&[href^="javascript:"], &[href^="#"] {

			&:after {
				content: "";
			}

		}

	}

	abbr[title] {

		&:after {
			content: " (" attr(title) ")";
		}

	}

	p {
		orphans: 3;
		widows: 3;
	}

	blockquote, pre, img, tr {
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

}