@import "project/project";



// Basic Typography & Rhythm



/* Typography & Rhythm */

html {
  @include tx-baseline;
  text-size-adjust: 100%;
}

body {
  color: $text;
  font-family: $font;
}

article, aside, figure, figcaption, footer, header, hgroup, nav, section {
  display: block;
}

a {
  $linkFocus-outlineWidth: 1px;

  color: $link;
  text-decoration: underline;
  text-decoration-color: rgba($link, $underlineOpacity);
  transition: $UITransition;

  &:visited {
    color: $visited;
    text-decoration-color: rgba($visited, $underlineOpacity);
  }

  &:hover {
    color: $hover;
    text-decoration-color: rgba($hover, $underlineOpacity);
  }

  &:active {
    color: $active;
    text-decoration-color: rgba($active, $underlineOpacity);
  }

  &:focus {
    outline: $linkFocus-outlineWidth dotted $focus-outlineColor;
  }

}

label {
  $label-borderWidth: 1px;
  $label-borderColor: $gray;

  border-bottom: $label-borderWidth dotted $label-borderColor;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: auto;
  page-break-after: avoid;
  orphans: 3;
  widows: 3;
}

h1 {
  @include tx-rhythm(1, 2, $h1-fontSize);
  @include tx-font-size($h1-fontSize, 2);
}

h2 {
  @include tx-rhythm(1, 1, $h2-fontSize);
  @include tx-font-size($h2-fontSize, 2);
}

h3 {
  @include tx-rhythm(1, 1, $h3-fontSize);
  @include tx-font-size($h3-fontSize, 1);
}

h4 {
  @include tx-rhythm(1, 1, $h4-fontSize);
  @include tx-font-size($h4-fontSize, 1);
}

h5 {
  @include tx-rhythm(1, 1, $h5-fontSize);
  @include tx-font-size($h5-fontSize, 1);
}

h6 {
  @include tx-rhythm(1, 1, $h6-fontSize);
  @include tx-font-size($h6-fontSize, 1);
}

p, pre, dl, ul, ol, li, address, video, audio, table {
  @include tx-rhythm(1, 1);
}

p, blockquote, li, dd {
  hyphens: manual;
}

pre, code, samp, var, tt {
  font-family: $font-mono;
}

pre, code, samp, var {
  $pre-color: $red;

  color: $pre-color;
}

pre {
  @include tx-force-wrap;
  overflow: hidden;
  padding: 0 1.5em;
}

blockquote, em, cite, q, i {
  font-style: italic;
}

blockquote, q {
  quotes: none;

  &:before, &:after {
    content: none;
  }

}

blockquote {
  @include tx-rhythm(1, 1, $mrgt: 3em, $mlft: 3em);
}

address {
  font-style: normal;
}

dt {
  @include tx-rhythm(1);
  font-weight: bold;
}

dd {
  @include tx-rhythm(0, 1, $mlft: 1.5em);
  font-style: italic;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {

  ul, ol {
    @include tx-rhythm(1, 1, $mlft: 1.5em);
  }

}

strong, dfn, b, kbd, acronym, abbr, var {
  font-weight: bold;
}

acronym, abbr, ins, mark, del {
  text-decoration: none;
  cursor: help;
}

acronym, abbr, ins, mark {
  $acronym-color: $blue;

  border-bottom: 1px dotted $acronym-color;
  color: $acronym-color;
}

acronym, abbr {
  margin: 0 -.075em 0 0;
  letter-spacing: .075em;
}

del {
  $del-color: $gray;
  $del-borderWidth: 1px;

  border-bottom: $del-borderWidth dotted $del-color;
  color: $del-color;
}

kbd {
  $kbd-bg: $gray;

  @include tx-inline-block;
  @include tx-grid-height(1);
  padding: 0 .5em;
  border-radius: 3px;
  background: $kbd-bg;
  background-clip: padding-box;
  font-weight: bold;
  font-family: $font-mono;
  letter-spacing: .1em;
  vertical-align: top;
}

var {
  $var-color: $red;

  color: $var-color;
  font-style: normal;
}

del, strike, s {
  text-decoration: line-through;
}

sup, sub {
  @include tx-font-size($font-size * .75, 0);
  position: relative;
}

sup {
  top: -.65em;
}

sub {
  bottom: -.25em;
}

big {
  @include tx-font-size($font-size * 1.5, 0);
}

small {
  @include tx-font-size($font-size * .75, 0);
}

u {
  text-decoration: underline;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: top;
}

caption {
  @include tx-rhythm-padding(0, .5);
  font-weight: bold;
  text-align: left;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td, th {
  $cell-borderColor: $gray;

  @include tx-table-borders(1px, .5, $bcolor: $cell-borderColor, $prgt: ($gap / 2), $plft: ($gap / 2));
}

th {
  font-weight: bold;
  text-align: left;
}

fieldset {
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
}

legend {
  $legend-padding: 1.5em;

  position: relative;
  left: -$legend-padding;
  padding: 0 $legend-padding;
  font-weight: bold;
}

hr {
  $hr-borderColor: $black;

  @include tx-rhythm(1, 1);
  display: block;
  height: 0;
  padding: 0;
  border-top: 1px solid $hr-borderColor;
}



/* High DPI Typography */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {}



/* Phone Typography */

@media handheld, only screen and (max-width: 720px) {

  @import "phone/typography-phone";

}

@media only screen and (max-width: 720px) and (min-resolution: 1.5dppx), only screen and (max-width: 720px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: 720px) and (min-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (min-resolution: 150dpi) {}



/* Tablet Typography */

@media only screen and (min-width: 721px) and (max-width: $min-width) {}

@media only screen and (min-width: 721px) and (max-width: $min-width) and (min-resolution: 1.5dppx), only screen and (min-width: 721px) and (max-width: $min-width) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 721px) and (max-width: $min-width) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (min-resolution: 150dpi) {}



/* Print Typography */

@media print {

  @import "print/typography-print";

}



/* TV Typography */

@media projection, tv {}



/* Audio Typography */

@media aural {}

