@import "project/project";

$tx-ie: true;



// Basic Typography & Rhythm (Internet Explorer < 8)



/* Typography & Rhythm (Internet Explorer < 8) */

dfn {
  font-style: normal;
}

img {
  -ms-interpolation-mode: bicubic;
}

.ie6 {
  filter: unquote("expression(document.execCommand('BackgroundImageCache', false, true))");

  label {
    cursor: hand;
  }

  pre {
    zoom: 1;
  }

  ul, .u-listReset ul {
    list-style: disc outside;
  }

  ol, .u-listReset ol {
    list-style: decimal outside;
  }

  .u-listReset {

    li {

      li {
        @include tx-rhythm(1, 1);
      }

    }

  }

  .u-descriptionListReset {

    dl {

      dt {
        @include tx-rhythm(1);
      }

      dd {
        @include tx-rhythm(0, 1, $mlft: 1.5em);
        font-style: italic;
      }

    }

  }

}
