@import "project/project";

$tx-ie: true;



// UI (Internet Explorer < 8)



/* Forms */

input {

  &[type="checkbox"], &[type="radio"] {
    width: 13px;
    height: 13px;
  }

}



/* Internet Explorer 6 */

%buttonStyleIE {
  @include tx-grid-height(1, $lh: false);
  cursor: hand;
}

.ie6 {

  input {
    vertical-align: text-bottom;
  }

  button {
    @extend %buttonStyleIE;
  }

  .button {
    @extend %buttonStyleIE;
  }

}
