@import 'project/project';



// UI



/* Selection */

::selection {
  color: $selection-color;
  background: $selection-background;
}



/* Focus */

%focusStyle {

  &:focus {
    outline: $focus-outlineWidth dotted $focus-outlineColor;
  }

}



/* Links */

a {
  @extend %focusStyle;
  color: $link;
  text-decoration: underline;
  text-decoration-color: rgba($link, $underlineOpacity);
  transition: $UITransition;

  &:visited {
    color: $visited;
    text-decoration-color: rgba($visited, $underlineOpacity);
  }

  &:hover {
    color: $hover;
    text-decoration-color: rgba($hover, $underlineOpacity);
  }

  &:active {
    color: $active;
    text-decoration-color: rgba($active, $underlineOpacity);
  }

}



/* Forms */

label {
  $label-borderWidth: 1px;
  $label-borderColor: $gray;

  border-bottom: $label-borderWidth dotted $label-borderColor;
  cursor: pointer;
}

%formBaselineStyle {
  @extend %focusStyle;
  margin: 0;
  font-family: $font-sans;
}

%formFontStyle {
  @include tx-font-size($fontSize, none);
}

%formBoxSizingStyle {
  box-sizing: content-box;
}

%formBorderResetStyle {
  border: 0;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

}

%formTextResetStyle {
  text-transform: none;
}

%formAlignStyle {
  vertical-align: top;
}

%formStyle {
  border: $field-borderWidth solid $field-borderColor;
}

%formRadioCheckboxStyle {
  box-sizing: border-box;
  vertical-align: middle;
}

%formAppearanceResetStyle {
  appearance: none;
}

%formInactiveStyle {
  opacity: .5;
  cursor: default;
  cursor: not-allowed;
}

input {
  @extend %formBaselineStyle;
  @extend %formFontStyle;
  @extend %formBoxSizingStyle;
  @extend %formBorderResetStyle;
  @extend %formAlignStyle;

  &[type='radio'] {
    @extend %formRadioCheckboxStyle;
  }

  &[type='checkbox'] {
    @extend %formRadioCheckboxStyle;
  }

  &[type='file'] {
    height: auto;
    border: 0;
  }

  &[type='search'] {
    @extend %formAppearanceResetStyle;
  }

  &[type='number'] {
    @extend %formAppearanceResetStyle;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

  }

  &[disabled] {
    @extend %formInactiveStyle;
  }

  &[readonly] {
    @extend %formInactiveStyle;
  }

}

select {
  @extend %formBaselineStyle;
  @extend %formFontStyle;
  @extend %formTextResetStyle;
  @extend %formAlignStyle;
  @extend %formStyle;
  @include tx-grid-height(1.5, $lh: false);
  vertical-align: top;

  &[multiple] {
    @include tx-grid-height(5, $lh: false);
  }

}

%buttonStyle {
  @include tx-grid-height(1.5, $lh: false);
  padding: 0 ($gap / 2);
  cursor: pointer;
}

button {
  @extend %formBaselineStyle;
  @extend %formFontStyle;
  @extend %formBoxSizingStyle;
  @extend %formBorderResetStyle;
  @extend %formTextResetStyle;
  @extend %buttonStyle;

  &[disabled] {
    @extend %formInactiveStyle;
  }

}

textarea {
  @extend %formBaselineStyle;
  @extend %formBoxSizingStyle;
  @extend %formStyle;
  @include tx-form-height(9, 1, $lh: false);
  @include tx-rhythm-padding(.25, .25, $prgt: ($gap / 2), $plft: ($gap / 2));
  @include tx-font-size($fontSize, 1);
  display: block;
  overflow: auto;

  &[disabled] {
    @extend %formInactiveStyle;
  }

  &[readonly] {
    @extend %formInactiveStyle;
  }

}



/* Custom Forms */

.field {
  @extend %formStyle;
  @include tx-form-height(1.5);
  padding: 0 ($gap / 2);
}



/* Buttons */

.button {
  @extend %buttonStyle;
}



/* HDPI UI */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {}



/* Large Resolution UI */

@media only screen and (min-width: $desktop-wide-rem) {}



/* Tablet UI */

@media only screen and (max-width: $desktop-min-rem) {}

@media only screen and (max-width: $desktop-min-rem) and (min-resolution: 1.5dppx), only screen and (max-width: $desktop-min-rem) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: $desktop-min-rem) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: $desktop-min-rem) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: $desktop-min-rem) and (min-device-pixel-ratio: 1.5), only screen and (max-width: $desktop-min-rem) and (min-resolution: 150dpi) {}



/* Phone UI */

@media handheld, only screen and (max-width: $phone-max-rem) {

  @import 'phone/ui-phone';

}

@media only screen and (max-width: $phone-max-rem) and (min-resolution: 1.5dppx), only screen and (max-width: $phone-max-rem) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: $phone-max-rem) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: $phone-max-rem) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: $phone-max-rem) and (min-device-pixel-ratio: 1.5), only screen and (max-width: $phone-max-rem) and (min-resolution: 150dpi) {}



/* Print Typography */

@media print {

  @import 'print/ui-print';

}



/* TV UI */

@media projection, tv {}



/* Audio UI */

@media aural {}
