@import "project/project";



// UI



/* Selection */

@include tx-selection-style;



/* Forms */

input, select, button, textarea {
  @include tx-font-size($font-size, none);
  margin: 0;
  font-family: $font;
}

input, button, textarea {
  box-sizing: content-box;
}

input, select, textarea {

  &[disabled], &[readonly] {
    opacity: .5;
    cursor: default;
    cursor: not-allowed;
  }

}

input, button {
  border: 0;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

}

input, select {
  vertical-align: baseline;
}

button, select {
  text-transform: none;
}

%formStyle {
  $field-borderWidth: 1px;
  $field-borderColor: $gray;

  border: $field-borderWidth solid $field-borderColor;
}

select, textarea {
  @extend %formStyle;
}

select {
  @include tx-grid-height(1.5, $lh: false);
  vertical-align: top;

  &[multiple] {
    @include tx-grid-height(5, $lh: false);
  }

}

%buttonStyle {
  @include tx-grid-height(1.5, $lh: false);
  padding: 0 ($gap / 2);
  cursor: pointer;
}

button {
  @extend %buttonStyle;
}

textarea {
  @include tx-form-height(9, 1, $lh: false);
  @include tx-rhythm-padding(.5, .5, $prgt: ($gap / 2), $plft: ($gap / 2));
  display: block;
  overflow: auto;
}



/* Custom Forms */

.input-radio, .input-checkbox {
  box-sizing: border-box;
  vertical-align: middle;
}

.input-file {
  height: auto;
  border: 0;
}

%inputSearchStyle {
  @include tx-appearance;
}

.input-search {
  @extend %inputSearchStyle;
}

.input-number {
  @extend %inputSearchStyle;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

}

.field {
  @extend %formStyle;
  @include tx-form-height(1.5);
  padding: 0 ($gap / 2);
  vertical-align: top;
}



/* Buttons */

.button {
  @extend %buttonStyle;
}



/* High DPI UI */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {}



/* Large Resolution UI */

@media only screen and (min-width: 1382px) {}



/* Phone UI */

@media handheld, only screen and (max-width: 720px) {

  @import "phone/ui-phone";

}

@media only screen and (max-width: 720px) and (min-resolution: 1.5dppx), only screen and (max-width: 720px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: 720px) and (min-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (min-resolution: 150dpi) {}



/* Tablet UI */

@media only screen and (min-width: 721px) and (max-width: $min-width) {}

@media only screen and (min-width: 721px) and (max-width: $min-width) and (min-resolution: 1.5dppx), only screen and (min-width: 721px) and (max-width: $min-width) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 721px) and (max-width: $min-width) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (min-resolution: 150dpi) {}



/* Print UI */

@media print {

  @import "print/ui-print";

}



/* TV UI */

@media projection, tv {}



/* Audio UI */

@media aural {}
