@import "tx/tx";
@import "tx/tx-projectImages";

@import "project";
@import "project-global";



// UI



/* Video */

video {

	&::-webkit-media-controls-play-button {

	}

	&::-webkit-media-controls-timeline {

	}

	&::-webkit-media-controls-current-time-display{

	}

	&::-webkit-media-controls-time-remaining-display {

	}

	&::-webkit-media-controls-fullscreen-button {

	}

	&::-webkit-media-controls-toggle-closed-captions-button {

	}

	&::-webkit-media-controls-mute-button {

	}

	&::-webkit-media-controls-volume-slider {

	}

}



/* Audio */

audio {

	&::-webkit-media-controls-play-button {

	}

	&::-webkit-media-controls-timeline {

	}

	&::-webkit-media-controls-current-time-display{

	}

	&::-webkit-media-controls-time-remaining-display {

	}

	&::-webkit-media-controls-volume-slider {

	}

}



/* Forms */

input, select, button, textarea {
	@include tx-font-size($font-size, none);
	font-family: $font;
	margin: 0;
}

input, button, textarea {
	padding: 0 .5em;
	box-sizing: content-box;
}

input, select, textarea {

	&[disabled], &[readonly] {
		opacity: .5;
		cursor: default;
		cursor: not-allowed;
	}

}

input, button {
	border: none;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

}

input, select {
	vertical-align: baseline;
}

button, select {
	text-transform: none;
}

%textFieldStyle {
	$field-borderWidth: 1px;
	$field-borderColor: $gray;

	display: block;
	border: $field-borderWidth solid $field-borderColor;
}

select, textarea {
	@extend %textFieldStyle;
}

select {
	@include tx-grid-height(1, $lh: false);

	&[multiple] {
		@include tx-grid-height(5, $lh: false);
	}

}

%buttonStyle {
	cursor: pointer;
	@include tx-grid-height(1, $lh: false);
}

button {
	@extend %buttonStyle;
}

textarea {
	@include tx-form-height(10, 1, $lh: false);
	overflow: auto;
}



/* Custom Forms */

.input-radio, .input-checkbox {
	box-sizing: border-box;
	vertical-align: top;
}

.input-file {
	height: auto;
	border: none;
}

.input-search {
	@include tx-appearance;
}

.input-number {
	@include tx-appearance;

	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

}

.field {
	@extend %textFieldStyle;
	@include tx-form-height(1);

	&-search {
		@include tx-form-height(2);
	}

}



/* Buttons */

.button {
	@extend %buttonStyle;
}



/* High DPI UI */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {}



/* Large Resolution UI */

@media only screen and (min-width: 1382px) {}



/* Phone UI */

@media handheld, only screen and (max-width: 720px) {

	@import "phone/ui-phone";

}

@media only screen and (max-width: 720px) and (min-resolution: 1.5dppx),	only screen and (max-width: 720px) and (-webkit-min-device-pixel-ratio: 1.5),	only screen and (max-width: 720px) and (min--moz-device-pixel-ratio: 1.5),	only screen and (max-width: 720px) and (-o-min-device-pixel-ratio: 3 / 2),	only screen and (max-width: 720px) and (min-device-pixel-ratio: 1.5), only screen and (max-width: 720px) and (min-resolution: 150dpi) {}



/* Tablet UI */

@media only screen and (min-width: 721px) and (max-width: $min-width) {}

@media only screen and (min-width: 721px) and (max-width: $min-width) and (min-resolution: 1.5dppx), only screen and (min-width: 721px) and (max-width: $min-width) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 721px) and (max-width: $min-width) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 721px) and (max-width: $min-width) and (min-resolution: 150dpi) {}



/* Print UI */

@media print {

	@import "print/ui-print";

}



/* TV UI */

@media projection, tv {}



/* Audio UI */

@media aural {}
