// Utilities



/* Lists Reset */

%u-listResetStyle {
  padding: 0;
  margin: 0;
}

.u-listReset {
  @extend %u-listResetStyle;
  list-style: none outside;

  >li {
    padding: 0;
    margin: 0;
  }

}

%dlResetStyle {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

.u-descriptionListReset {
  @extend %u-listResetStyle;

  >dt {
    @extend %dlResetStyle;
  }

  >dd {
    @extend %dlResetStyle;
  }

}



/* Image Blocker */

.u-imageBlocker {
  background-image: none;
}



/* Visually Hidden */

.u-visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
}
