// Utilities



/* Lists Reset */

%u-resetStyle {
  padding: 0;
  margin: 0;
}

.u-listReset {
  @extend %u-resetStyle;
  list-style: none;

  > li {
    @extend %u-resetStyle;
  }

}

.u-descriptionListReset {
  @extend %u-resetStyle;

  > dt,
  > dd {
    @extend %u-resetStyle;
    font-weight: normal;
    font-style: normal;
  }

}



/* Image Blocker */

.u-imageBlocker {
  background-image: none;
}



/* Visually Hidden */

.u-visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
}
