// Utilities (Internet Explorer < 8)



/* Lists Reset (Internet Explorer < 8) */

%listResetStyleIE {
  padding: 0;
  margin: 0;
}

%dlItemResetStyleIE {
  padding: 0;
  margin: 0;
}

.ie6 {

  .u-listReset {
    @extend %listResetStyleIE;

    li {
      @extend %listResetStyleIE;
    }

  }

  .u-descriptionListReset {
    @extend %listResetStyleIE;

    dt {
      @extend %listResetStyleIE;
      @extend %dlItemResetStyleIE;
    }

    dd {
      @extend %listResetStyleIE;
      @extend %dlItemResetStyleIE;
    }

  }

}
