// Utilities



/* Lists Reset */

.u-listReset, .u-descriptionListReset {
  padding: 0;
  margin: 0;
}

.u-listReset {
  list-style: none outside;

  >li {
    padding: 0;
    margin: 0;
  }

}

.u-descriptionListReset {

  >dt, >dd {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
  }

}



/* Image Blocker */

.u-imageBlocker {
  background-image: none !important;
}



/* Visually Hidden */

.u-visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
}
