$tx-IE: true;



/* Typography & Vertical Rhythm */

dfn {
  font-style: normal;
}

img {
  -ms-interpolation-mode: bicubic;
}

%unorderedListStyleIE {
  list-style: disc outside;
}

%orderedListStyleIE {
  list-style: decimal outside;
}



/* Forms */

%formRadioCheckboxStyleIE {
  width: 13px;
  height: 13px;
}

input {
  overflow: visible;

  &[type='checkbox'] {
    @extend %formRadioCheckboxStyleIE;
  }

  &[type='radio'] {
    @extend %formRadioCheckboxStyleIE;
  }

}
