/* Layout Base */

html {
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  $body-minWidth: ($desktop-min - $gap * 2);

  @include tx-set-boundaries($body-minWidth);
  @include tx-scroll-bar(true);
  position: relative;
  padding: 0 $gap;
  background: $background;
}



/* HDPI Layout */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {}



/* Large Resolution Layout */

@media only screen and (min-width: $desktop-wide-rem) {}



/* Tablet Layout */

@media only screen and (max-width: $desktop-min-rem) {}

@media only screen and (max-width: $desktop-min-rem) and (min-resolution: 1.5dppx), only screen and (max-width: $desktop-min-rem) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: $desktop-min-rem) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: $desktop-min-rem) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: $desktop-min-rem) and (min-device-pixel-ratio: 1.5), only screen and (max-width: $desktop-min-rem) and (min-resolution: 150dpi) {}



/* Phone Layout */

@media handheld, only screen and (max-width: $phone-max-rem) {

  @import 'phone/_layout-phone';

}

@media only screen and (max-width: $phone-max-rem) and (min-resolution: 1.5dppx), only screen and (max-width: $phone-max-rem) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: $phone-max-rem) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: $phone-max-rem) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: $phone-max-rem) and (min-device-pixel-ratio: 1.5), only screen and (max-width: $phone-max-rem) and (min-resolution: 150dpi) {}



/* Print Layout */

@media print {

  @import 'print/_layout-print';

}



/* TV Layout */

@media projection, tv {}



/* Audio Layout */

@media aural {}
