/* Layout Base */

html {
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
}

body {
  $body-minWidth: (txf-breakpoint(desktopMin));

  @include tx-set-boundaries($body-minWidth);
  @include tx-scroll-bar(true);
  position: relative;
  padding: 0 $gap;
  background: $background;
}
