/* Selection */

::selection {
  color: $selection-color;
  background: $selection-background;
}



/* Focus */

%focusStyle {

  &:focus {
    outline: $focus-outlineWidth dotted $focus-outlineColor;
  }

}



/* Fast Touch */

%touchAction {
  touch-action: manipulation;
}



/* Links */

a {
  @extend %focusStyle;
  @extend %touchAction;
  color: $link;
  text-decoration: underline;
  text-decoration-color: rgba($link, $underlineOpacity);
  transition: color $UITransition, text-decoration-color $UITransition;

  &:visited {
    color: $visited;
    text-decoration-color: rgba($visited, $underlineOpacity);
  }

  &:hover {
    color: $hover;
    text-decoration-color: rgba($hover, $underlineOpacity);
  }

  &:active {
    color: $active;
    text-decoration-color: rgba($active, $underlineOpacity);
  }

}



/* Forms */

label {
  @extend %touchAction;
  cursor: pointer;
}

%formBaselineStyle {
  @extend %focusStyle;
  margin: 0;
  font-family: inherit;
}

%formFontStyle {
  font-size: inherit;
}

%formBoxSizingStyle {
  box-sizing: content-box;
}

%formBorderResetStyle {
  border: 0;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

}

%formTextResetStyle {
  text-transform: none;
}

%formAlignStyle {
  vertical-align: top;
}

%formStyle {
  border: $field-borderWidth solid $field-borderColor;
}

%formRadioCheckboxStyle {
  box-sizing: border-box;
  vertical-align: middle;
}

%formAppearanceResetStyle {
  appearance: none;
}

%formInactiveStyle {
  opacity: .5;
  cursor: default;
  cursor: not-allowed;
}

%formPlaceholderStyle {
  $formPlaceholderStyle-color: $gray;

  &::placeholder {
    color: $formPlaceholderStyle-color;
    opacity: 1;
  }

  &:placeholder-shown {

  }

}

input {
  @extend %formBaselineStyle;
  @extend %formFontStyle;
  @extend %formBoxSizingStyle;
  @extend %formBorderResetStyle;
  @extend %formAlignStyle;
  @extend %formPlaceholderStyle;

  &[type='radio'] {
    @extend %formRadioCheckboxStyle;
  }

  &[type='checkbox'] {
    @extend %formRadioCheckboxStyle;
  }

  &[type='file'] {
    height: auto;
    border: 0;
  }

  &[type='search'] {
    @extend %formAppearanceResetStyle;
  }

  &[type='number'] {
    @extend %formAppearanceResetStyle;

    &::-webkit-inner-spin-button {
      appearance: none;
    }

  }

  &[disabled] {
    @extend %formInactiveStyle;
  }

  &[readonly] {
    @extend %formInactiveStyle;
  }

}

select {
  @extend %formBaselineStyle;
  @extend %formFontStyle;
  @extend %formTextResetStyle;
  @extend %formAlignStyle;
  @extend %formStyle;
  @extend %touchAction;
  @include tx-grid-height(1.5, $lh: false);
  vertical-align: top;

  &[multiple] {
    @include tx-grid-height(5, $lh: false);
  }

}

%buttonStyle {
  @extend %touchAction;
  @include tx-grid-height(1.5, $lh: false);
  padding: 0 ($gap / 2);
  cursor: pointer;
}

button {
  @extend %formBaselineStyle;
  @extend %formFontStyle;
  @extend %formBoxSizingStyle;
  @extend %formBorderResetStyle;
  @extend %formTextResetStyle;
  @extend %buttonStyle;

  &[disabled] {
    @extend %formInactiveStyle;
  }

}

textarea {
  @extend %formBaselineStyle;
  @extend %formBoxSizingStyle;
  @extend %formStyle;
  @extend %formPlaceholderStyle;
  @include tx-form-height(9, 1);
  @include tx-rhythm-padding(.25, .25, $prgt: ($gap / 2), $plft: ($gap / 2));
  display: block;
  overflow: auto;
  font-size: inherit;

  &[disabled] {
    @extend %formInactiveStyle;
  }

  &[readonly] {
    @extend %formInactiveStyle;
  }

}



/* Custom Forms */

.field {
  @extend %formStyle;
  @include tx-form-height(1.5);
  padding: 0 ($gap / 2);
}



/* Buttons */

.button {
  @extend %buttonStyle;
}



/* HDPI UI */

@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 150dpi) {}



/* Large Resolution UI */

@media only screen and (min-width: txf-breakpoint(desktopWide)) {}



/* Tablet UI */

@media only screen and (max-width: txf-breakpoint(desktopMin)) {}

@media only screen and (max-width: txf-breakpoint(desktopMin)) and (min-resolution: 1.5dppx), only screen and (max-width: txf-breakpoint(desktopMin)) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(desktopMin)) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(desktopMin)) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: txf-breakpoint(desktopMin)) and (min-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(desktopMin)) and (min-resolution: 150dpi) {}



/* Phone UI */

@media handheld, only screen and (max-width: txf-breakpoint(phoneMax)) {

  @import 'phone/_ui-phone';

}

@media only screen and (max-width: txf-breakpoint(phoneMax)) and (min-resolution: 1.5dppx), only screen and (max-width: txf-breakpoint(phoneMax)) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(phoneMax)) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(phoneMax)) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: txf-breakpoint(phoneMax)) and (min-device-pixel-ratio: 1.5), only screen and (max-width: txf-breakpoint(phoneMax)) and (min-resolution: 150dpi) {}



/* Print Typography */

@media print {

  @import 'print/_ui-print';

}



/* TV UI */

@media projection, tv {}



/* Audio UI */

@media aural {}
