/* Icons (Internet Explorer < 8) */
/* line 14, ../sass.txsrc/icons.ieFix.sass */
.icn {
  zoom: "expression(this.runtimeStyle.zoom = 1, insertAdjacentHTML('afterBegin', '<i class=ieBefore></i>'))";
}

/* line 17, ../sass.txsrc/icons.ieFix.sass */
.icn .ieBefore {
  display: block;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  background: url(../images/txex.icons.gif) no-repeat 0 0;
}

/* line 22, ../sass.txsrc/icons.ieFix.sass */
.icn1 .ieBefore {
  width: 6px;
  height: 11px;
  top: 2px;
  margin: 0 0 0 -10px;
  background-position: 0 0;
}

/* line 29, ../sass.txsrc/icons.ieFix.sass */
.icn2 .ieBefore {
  width: 11px;
  height: 11px;
  top: 2px;
  margin: 0 0 0 -14px;
  background-position: -6px 0;
}

/* line 36, ../sass.txsrc/icons.ieFix.sass */
.icn3 .ieBefore {
  width: 13px;
  height: 11px;
  top: 2px;
  margin: 0 0 0 -17px;
  background-position: -17px 0;
}

/* line 43, ../sass.txsrc/icons.ieFix.sass */
.icn4 .ieBefore {
  width: 27px;
  height: 11px;
  top: 2px;
  margin: 0 0 0 -31px;
  background-position: -31px 0;
}

/* line 50, ../sass.txsrc/icons.ieFix.sass */
.icn5 .ieBefore {
  width: 17px;
  height: 27px;
  top: 2px;
  margin: 0 0 0 -21px;
  background-position: -3px -11px;
}
