/* Icons */
/* line 14, ../sass.txsrc/icons.sass */
.icons {
  margin: 1.5em 0;
}

/* line 17, ../sass.txsrc/icons.sass */
.icons li {
  margin: 1.5em 0;
}

/* line 20, ../sass.txsrc/icons.sass */
.icn {
  position: relative;
}

/* line 23, ../sass.txsrc/icons.sass */
.icn:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  background: url(../images/icons.gif) no-repeat 0 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

/* line 31, ../sass.txsrc/icons.sass */
.icn1:before {
  width: 6px;
  height: 11px;
  top: 3px;
  margin: 0 0 0 -10px;
  background-position: 0 0;
}

/* line 38, ../sass.txsrc/icons.sass */
.icn2:before {
  width: 11px;
  height: 11px;
  top: 3px;
  margin: 0 0 0 -14px;
  background-position: -6px 0;
}

/* line 45, ../sass.txsrc/icons.sass */
.icn3:before {
  width: 13px;
  height: 11px;
  top: 3px;
  margin: 0 0 0 -17px;
  background-position: -17px 0;
}

/* line 52, ../sass.txsrc/icons.sass */
.icn4:before {
  width: 27px;
  height: 11px;
  top: 2px;
  margin: 0 0 0 -31px;
  background-position: -31px 0;
}

/* line 59, ../sass.txsrc/icons.sass */
.icn5:before {
  width: 17px;
  height: 27px;
  top: 0px;
  margin: 0 0 0 -21px;
  background-position: -3px -11px;
}
