/* Layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000315}}
body {
  position: relative;
  min-width: 980px;
  max-width: 1400px;
  margin: 0 auto;
  background: white; }

/* Counters Code */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000324}}
.countersCode {
  position: absolute;
  width: 1px;
  height: 100px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1; }

/* Header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000337}}
.header {
  position: relative;
  z-index: 1; }

/* Content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000345}}
.content {
  padding: 0 36px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000348}}
  .content:after {
    display: block;
    content: "";
    font-size: 0;
    line-height: 0;
    position: relative;
    height: 1px;
    margin: -1px 0 0;
    font-size: 0;
    clear: both; }

/* Footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000359}}
.footer {
  position: relative;
  clear: both;
  z-index: 1; }

/* Large Resolutions Layout */
/* Print Layout */
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000382}}
  body {
    max-width: none;
    margin: 0 10px;
    padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\0000389}}
  .header, .footer {
    display: none; } }
/* Small Resolutions Layout */
@media handheld, only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\00003101}}
  html {
    -webkit-text-size-adjust: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\00003104}}
  body {
    min-width: 0;
    max-width: none; } }
/* Smartphones (Landscape) Layout */
/* Smartphones (Portrait) Layout */
/* Tablets Layout */
@media only screen and (min-width: 481px) and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/layout\.sass}line{font-family:\00003135}}
  body {
    min-width: 0;
    max-width: none; } }
/* Tablets (Landscape) Layout */
/* Tablets (Portrait) Layout */
/* TV Layout */
/* Audio Layout */

/*@ sourceMappingURL=layout.css.map */