/* Bread Crumbs */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000313}}
.breadCrumbs {
  position: relative;
  left: -0.75em;
  font-size: 0.75em;
  line-height: 2em;
  margin: 2em 0 2em 36px;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000320}}
  .breadCrumbs li {
    display: -moz-inline-box;
    display: inline-block;
    margin: 0 0.75em 0 -1px;
    padding: 0 0 0 0.75em;
    border-width: 0 0 0 1px;
    border-style: dotted;
    border-color: black;
    vertical-align: top; }

/* Aside */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000333}}
.sidePanel {
  width: 260px;
  padding: 0 36px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000337}}
.sPLeft {
  float: left;
  margin: -36px 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000341}}
.sPRight {
  float: right;
  margin: -36px 0 0; }

/* Form */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000349}}
.form {
  width: 670px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000352}}
  .form dt, .form dd {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000356}}
  .form dt {
    width: 160px;
    margin: 0em 0 0.75em;
    padding: 0 10px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000361}}
  .form dd {
    width: 100%;
    margin: 0em -170px 0.75em 0;
    padding: 0 170px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000367}}
  .form .field, .form textarea, .form select {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000370}}
  .form .field, .form textarea {
    width: 500px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000373}}
fieldset .form {
  margin: 0em 0 -0.75em; }

/* Box */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000380}}
.box {
  position: relative;
  width: 260px;
  font-size: 0.75em;
  line-height: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000385}}
  .box img {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000388}}
.fLeft {
  float: left;
  margin: 0em 36px 1.5em 0;
  clear: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\0000393}}
.fRight {
  float: right;
  margin: 0em 0 1.5em 36px;
  clear: right; }

/* News */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003102}}
.news {
  position: relative;
  margin: 0em 0 -1.5em;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003107}}
  .news li {
    position: relative;
    top: -1.5em;
    margin: -1px 0 0;
    border-width: 1px 0 0;
    border-style: dotted;
    border-color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003115}}
  .news h2 {
    font-size: 1.375em;
    line-height: 1.09091em;
    margin: 1.09091em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003119}}
  .news img {
    float: left;
    margin: 0 18px 0 0; }

/* Pages */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003127}}
.pages {
  position: relative;
  font-size: 0.75em;
  line-height: 2em;
  margin: 2em auto;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003133}}
  .pages li {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    left: -0.75em;
    margin: 0 0.75em 0 -1px;
    padding: 0 0 0 0.75em;
    border-width: 0 0 0 1px;
    border-style: dotted;
    border-color: black;
    vertical-align: top; }

/* Large Resolutions Layout */
/* Print Layout */
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003162}}
  .sidePanel, .breadCrumbs, .pages {
    display: none; } }
/* Small Resolutions Layout */
@media handheld, only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003174}}
  .sPLeft, .sPRight, .fLeft, .fRight {
    float: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003181}}
  .news img {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003186}}
  .form {
    width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003189}}
    .form dt, .form dd {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003192}}
    .form dt {
      margin: 0em 0 0.75em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003195}}
    .form dd {
      margin: 0em 0 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txdemo\.layout\.sass}line{font-family:\00003198}}
    .form .field, .form textarea, .form select {
      width: 100%; } }
/* Smartphones (Landscape) Layout */
/* Smartphones (Portrait) Layout */
/* Tablets Layout */
/* Tablets (Landscape) Layout */
/* Tablets (Portrait) Layout */
/* TV Layout */
/* Audio Layout */

/*@ sourceMappingURL=txdemo.layout.css.map */