/* Base Typographics & Rhythm */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/\.rvm\/gems\/ruby-2\.0\.0-p195\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000361}}
* html {
  font-size: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/\.rvm\/gems\/ruby-2\.0\.0-p195\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000364}}
html {
  font-size: 16px;
  line-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000318}}
body {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
  counter-reset: heading; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txsass\/_tx\.mixins\.sass}line{font-family:\000032}}
::-webkit-selection {
  color: white;
  background: blue;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txsass\/_tx\.mixins\.sass}line{font-family:\000036}}
::-moz-selection {
  color: white;
  background: blue;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txsass\/_tx\.mixins\.sass}line{font-family:\0000310}}
::selection {
  color: white;
  background: blue;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000327}}
a:focus, select:focus {
  outline: 1px dotted #939393; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000330}}
a {
  color: #003b9e;
  text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000334}}
  a:hover {
    color: red; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000337}}
  a:active {
    color: red; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000340}}
  a:visited {
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000343}}
  a:focus {
    color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000346}}
label, button, .button {
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000349}}
label {
  border-width: 0 0 1px;
  border-style: dotted;
  border-color: #939393; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000354}}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizelegibility; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000358}}
h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0.75em 0 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000362}}
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin: 1em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000366}}
h3 {
  font-size: 1.375em;
  line-height: 1.09091em;
  margin: 1.09091em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000370}}
h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000374}}
h5 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 1.33333em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000378}}
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.5em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000382}}
p, pre, dl, ul, ol, li, address, video, table {
  margin: 1.5em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000385}}
p, blockquote, li, dd {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000388}}
pre, code, samp, var, tt {
  font-family: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000391}}
pre, code, samp, del {
  color: #686868; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000394}}
pre {
  padding: 0 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003101}}
p var, p code, p samp {
  position: relative;
  top: 0.09em;
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003108}}
code var, samp var {
  top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003111}}
blockquote, em, cite, q, i {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003114}}
blockquote {
  margin: 1.5em 3em;
  font-family: Cambria, Georgia, Times, "Times New Roman", serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003118}}
address {
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003121}}
dt {
  margin: 1.5em 0 0em;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003125}}
dd {
  margin: 0em 0 1.5em 1.5em;
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003129}}
ul {
  list-style-type: disc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003132}}
ol {
  list-style-type: decimal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003137}}
li ul, li ol {
  margin: 1.5em 0 1.5em 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003140}}
strong, dfn, b, kbd, acronym, abbr, var {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003143}}
acronym, abbr, ins, del {
  color: #488dc6;
  border-width: 0 0 1px;
  border-style: dotted;
  border-color: #488dc6;
  cursor: help; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003150}}
acronym, abbr {
  margin: 0 -0.075em 0 0;
  letter-spacing: 0.075em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003154}}
kbd {
  padding: 0.25em 0.5em 0.2em;
  color: #333333;
  background: #ededed;
  font: caption;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: -2px -2px 2px #dadada inset;
  -moz-box-shadow: -2px -2px 2px #dadada inset;
  box-shadow: -2px -2px 2px #dadada inset; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003166}}
var {
  color: #d00837;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003170}}
ins, mark {
  color: #1c8400;
  border-width: 0 0 1px;
  border-style: dotted;
  border-color: #1c8400;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003177}}
del, strike, s {
  text-decoration: line-through; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003180}}
sup, sub {
  position: relative;
  font-size: 0.75em;
  line-height: 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003184}}
sup {
  top: -0.65em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003187}}
sub {
  bottom: -0.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003190}}
big {
  font-size: 1.5em;
  line-height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003194}}
small {
  font-size: 0.75em;
  line-height: 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003197}}
u {
  text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003200}}
img {
  max-width: 100%;
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003204}}
caption {
  padding: 0em 0 0.75em;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003208}}
table {
  width: 100%;
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003212}}
td, th {
  border: 1px solid black;
  padding: 0.6875em 0.5em 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003215}}
th {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003218}}
fieldset {
  padding: 0.75em 0 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003221}}
legend {
  position: relative;
  left: -1.5em;
  padding: 0 1.5em;
  color: white;
  background: black;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003229}}
input, select, button, textarea {
  font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003233}}
input, button, textarea {
  padding: 0 0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003236}}
input, button {
  height: 1.5em;
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003242}}
input[disabled], input[readonly], select[disabled], select[readonly], textarea[disabled], textarea[readonly] {
  opacity: 0.5;
  cursor: not-allowed; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003248}}
.ie button {
  width: auto;
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003252}}
input, select {
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003257}}
input[type="radio"], input[type="checkbox"] {
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003261}}
input[type="file"] {
  height: auto;
  line-height: normal;
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003266}}
select {
  height: 1.5em;
  border: 1px solid #9a9a9a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003270}}
select[multiple="multiple"] {
  height: 7.525em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003273}}
.field, textarea {
  border: 1px solid #9a9a9a;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003277}}
.field {
  height: 1.375em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003280}}
textarea {
  height: 14.875em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003285}}
.field:focus, textarea:focus {
  outline: none;
  -webkit-animation: focusPulse 1.5s infinite;
  -moz-animation: focusPulse 1.5s infinite;
  animation: focusPulse 1.5s infinite; }

@-moz-keyframes focusPulse {
  0% {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff; }

  50% {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 8px 1px #8ac7ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 8px 1px #8ac7ff; }

  100% {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff; } }

@-webkit-keyframes focusPulse {
  0% {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff; }

  50% {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 14px 1px #8ac7ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 8px 1px #8ac7ff; }

  100% {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff; } }

@keyframes focusPulse {
  0% {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff; }

  50% {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 8px 1px #8ac7ff; }

  100% {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003327}}
hr {
  display: block;
  height: 1px;
  margin: 1.5em 0 -1px;
  padding: 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #c7ced6 black white; }

/* Additional Decorative Styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003340}}
.alnLft {
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003343}}
.alnRgt {
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003346}}
.alnCnt {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003349}}
.alnJst {
  text-align: justify; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003352}}
.alnTop {
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003355}}
.alnMdl {
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003358}}
.alnBtm {
  vertical-align: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003361}}
.fntBld {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003364}}
.fntItl {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003367}}
.fntNrm {
  font-weight: normal;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003371}}
.blkClr {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003374}}
.blkNClr {
  clear: none; }

/* Headings Counter */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003381}}
.hNumber:before {
  display: -moz-inline-box;
  display: inline-block;
  counter-increment: heading;
  content: counter(heading) ". ";
  position: relative; }

/* Small Resolutions Typographics */
@media handheld, only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003396}}
  table {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003399}}
  tr {
    border: 3px solid red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003402}}
  tr, th, td {
    display: block; } }
/* High DPI Typographics */
@media only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003414}}
  html {
    text-rendering: optimizelegibility; } }
/* Print Typographics */
@media print {
  @page {
    margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003429}}
  a, acronym, abbr, ins, del, var, input, select, textarea {
    color: black;
    border: none;
    text-decoration: none;
    outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003435}}
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    orphans: 3;
    widows: 3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003440}}
  p {
    orphans: 3;
    widows: 3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003444}}
  blockquote, pre, img {
    page-break-inside: avoid; } }

/*@ sourceMappingURL=typographics.css.map */