/* Base Typographics & Rhythm */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/\.rvm\/gems\/ruby-2\.0\.0-p195\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000361}}
* html {
  font-size: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/\.rvm\/gems\/ruby-2\.0\.0-p195\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000364}}
html {
  font-size: 16px;
  line-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000316}}
body {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
  counter-reset: heading; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txsass\/_tx\.mixins\.sass}line{font-family:\000032}}
::-webkit-selection {
  color: white;
  background: blue;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txsass\/_tx\.mixins\.sass}line{font-family:\000036}}
::-moz-selection {
  color: white;
  background: blue;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/txsass\/_tx\.mixins\.sass}line{font-family:\0000310}}
::selection {
  color: white;
  background: blue;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000325}}
a:focus, select:focus {
  outline: 1px dotted #939393; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000328}}
a {
  color: #003b9e;
  text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000332}}
  a:hover {
    color: red; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000335}}
  a:active {
    color: red; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000338}}
  a:visited {
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000341}}
  a:focus {
    color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000344}}
label, button, .button {
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000347}}
label {
  border-width: 0 0 1px;
  border-style: dotted;
  border-color: #939393; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000352}}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizelegibility; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000356}}
h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0.75em 0 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000360}}
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin: 1em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000364}}
h3 {
  font-size: 1.375em;
  line-height: 1.09091em;
  margin: 1.09091em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000368}}
h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000372}}
h5 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 1.33333em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000376}}
h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.5em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000380}}
p, pre, dl, ul, ol, li, address, video, table {
  margin: 1.5em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000383}}
p, blockquote, li, dd {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000386}}
pre, code, samp, var, tt {
  font-family: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000389}}
pre, code, samp, del {
  color: #686868; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000392}}
pre {
  padding: 0 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\0000398}}
p var, p code, p samp {
  position: relative;
  top: 0.09em;
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003104}}
code var, samp var {
  top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003107}}
blockquote, em, cite, q, i {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003110}}
blockquote {
  margin: 1.5em 3em;
  font-family: Cambria, Georgia, Times, "Times New Roman", serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003114}}
address {
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003117}}
dt {
  margin: 1.5em 0 0em;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003121}}
dd {
  margin: 0em 0 1.5em 1.5em;
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003125}}
ul {
  list-style-type: disc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003128}}
ol {
  list-style-type: decimal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003133}}
li ul, li ol {
  margin: 1.5em 0 1.5em 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003136}}
strong, dfn, b, kbd, acronym, abbr, var {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003139}}
acronym, abbr, ins, del {
  color: #488dc6;
  border-width: 0 0 1px;
  border-style: dotted;
  border-color: #488dc6;
  cursor: help; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003146}}
acronym, abbr {
  margin: 0 -0.075em 0 0;
  letter-spacing: 0.075em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003150}}
kbd {
  padding: 0.25em 0.5em 0.2em;
  color: #333333;
  background: #ededed;
  font: caption;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: -2px -2px 2px #dadada inset;
  -moz-box-shadow: -2px -2px 2px #dadada inset;
  box-shadow: -2px -2px 2px #dadada inset; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003162}}
var {
  color: #d00837;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003166}}
ins, mark {
  color: #1c8400;
  border-width: 0 0 1px;
  border-style: dotted;
  border-color: #1c8400;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003173}}
del, strike, s {
  text-decoration: line-through; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003176}}
sup, sub {
  position: relative;
  font-size: 0.75em;
  line-height: 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003180}}
sup {
  top: -0.65em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003183}}
sub {
  bottom: -0.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003186}}
big {
  font-size: 1.5em;
  line-height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003190}}
small {
  font-size: 0.75em;
  line-height: 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003193}}
u {
  text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003196}}
img {
  max-width: 100%;
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003200}}
caption {
  padding: 0em 0 0.75em;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003204}}
table {
  width: 100%;
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003208}}
td, th {
  border: 1px solid black;
  padding: 0.6875em 0.5em 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003211}}
th {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003214}}
fieldset {
  padding: 0.75em 0 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003217}}
legend {
  position: relative;
  left: -1.5em;
  padding: 0 1.5em;
  color: white;
  background: black;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003225}}
input, select, button, textarea {
  font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003229}}
input, button, textarea {
  padding: 0 0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003232}}
input, button {
  height: 1.5em;
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003238}}
input[disabled], input[readonly], select[disabled], select[readonly], textarea[disabled], textarea[readonly] {
  opacity: 0.5;
  cursor: not-allowed; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003244}}
.ie button {
  width: auto;
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003248}}
input, select {
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003253}}
input[type="radio"], input[type="checkbox"] {
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003257}}
input[type="file"] {
  height: auto;
  line-height: normal;
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003262}}
select {
  height: 1.5em;
  border: 1px solid #9a9a9a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003266}}
select[multiple="multiple"] {
  height: 7.525em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003269}}
.field, textarea {
  border: 1px solid #9a9a9a;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003273}}
.field {
  height: 1.375em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003276}}
textarea {
  height: 14.875em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003281}}
.field:focus, textarea:focus {
  outline: none;
  -webkit-animation: focusPulse 1.5s infinite;
  -moz-animation: focusPulse 1.5s infinite;
  animation: focusPulse 1.5s infinite; }

@-moz-keyframes focusPulse {
  0% {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff; }

  50% {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 8px 1px #8ac7ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 8px 1px #8ac7ff; }

  100% {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff; } }

@-webkit-keyframes focusPulse {
  0% {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff; }

  50% {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 14px 1px #8ac7ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 8px 1px #8ac7ff; }

  100% {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff; } }

@keyframes focusPulse {
  0% {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff; }

  50% {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 8px 1px #8ac7ff; }

  100% {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset, 0 0 4px 1px #8ac7ff; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003325}}
hr {
  display: block;
  height: 1px;
  margin: 1.5em 0 -1px;
  padding: 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #c7ced6 black white; }

/* Additional Decorative Styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003338}}
.alnLft {
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003341}}
.alnRgt {
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003344}}
.alnCnt {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003347}}
.alnJst {
  text-align: justify; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003350}}
.alnTop {
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003353}}
.alnMdl {
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003356}}
.alnBtm {
  vertical-align: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003359}}
.fntBld {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003362}}
.fntItl {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003365}}
.fntNrm {
  font-weight: normal;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003369}}
.blkClr {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003372}}
.blkNClr {
  clear: none; }

/* Headings Counter */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003379}}
.hNumber:before {
  display: -moz-inline-box;
  display: inline-block;
  counter-increment: heading;
  content: counter(heading) ". ";
  position: relative; }

/* Small Resolutions Typographics */
@media handheld, only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003394}}
  table {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003397}}
  tr {
    border: 3px solid red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003400}}
  tr, th, td {
    display: block; } }
/* High DPI Typographics */
@media only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003412}}
  html {
    text-rendering: optimizelegibility; } }
/* Print Typographics */
@media print {
  @page {
    margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003427}}
  a, acronym, abbr, ins, del, var, input, select, textarea {
    color: black;
    border: none;
    text-decoration: none;
    outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003433}}
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    orphans: 3;
    widows: 3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003438}}
  p {
    orphans: 3;
    widows: 3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uncleFucka\/Eclipse\/TemplateX\/project\/res\/sass\.txsrc\/typographics\.sass}line{font-family:\00003442}}
  blockquote, pre, img {
    page-break-inside: avoid; } }

/*@ sourceMappingURL=typographics.css.map */