/* Typography & Rhythm */

@page {
  margin: 0 .5cm;
}

body {
  width: 100%;
  max-width: none;
  padding: 0;
  margin: 0;
  color: $print-color;
  font-size: 16pt;
}

a {
  color: $print-color;
  text-decoration: none;

  &:after {
    content: " (" attr(href) ")";
    font-size: 90%;
  }

  &:visited {
    color: $print-color;
  }

  &[href^="javascript:"], &[href^="#"] {

    &:after {
      content: "";
    }

  }

}

acronym, abbr, ins, del, var, input, select, textarea {
  border: 0;
  color: $print-color;
  text-decoration: none;
}

abbr[title] {

  &:after {
    content: " (" attr(title) ")";
  }

}

p {
  orphans: 3;
  widows: 3;
}

blockquote, pre, img, tr {
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
}
