/* Links */

%otherHREFStyle {

  &:after {
    content: '';
  }

}

a {
  color: $print-color;
  text-decoration: none;

  &:after {
    content: ' (' attr(href) ')';
    font-size: 90%;
  }

  &:visited {
    color: $print-color;
  }

  &[href^='javascript:'] {
    @extend %otherHREFStyle;
  }


  &[href^='#'] {
    @extend %otherHREFStyle;
  }

  &[href^='mailto:'] {
    @extend %otherHREFStyle;
  }

  &[href^='tel:'] {
    @extend %otherHREFStyle;
  }

}
