// Base Properties

$sans-font: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
$serif-font: Cambria, Georgia, Times, "Times New Roman", serif;
$monospace-font: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;

$white: #fff;
$red: #f00;
$redDark: #d00837;
$blue: #003b9e;
$blueLight: #488dc6;
$gray: #333;
$grayLight: #939393;
$black: #000;



// Project Base Properties

$min-width: 980px;

$text: $black;
$link: $blue;
$visited: $link;
$hover: $red;
$active: $red;
$focus-outline: $grayLight;

$background: $white;

$font: $sans-font;
$font-mono: $monospace-font;
$font-size: 16px;
$line-height: 24px;



// Project Properties

$h1-font-size: $font-size * 2;
$h2-font-size: $font-size * 1.5;
$h3-font-size: $font-size * 1.375;
$h4-font-size: $font-size * 1.25;
$h5-font-size: $font-size * 1.125;
$h6-font-size: $font-size;

$spts-image: url(../images/sprites.png);
$spts: $spts-image no-repeat;

$gap: 30px;

$tx-ie: false;



// TX Properties

$browser-font-size: 16px;
$font-unit: 1em;
$base-font-size: $font-size;
$base-line-height: $line-height;
$grid-background-baseline-color: rgba($blue, .25);