$tx-debug: false;



// Vertical Rhythm Lines

@if ($tx-debug == true) {

  %debug-rhythm {
    $debugGridColor: $blue;

    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent, transparent ($lineHeight - 1), $debugGridColor);
    background-size: 100% $lineHeight;
    pointer-events: none;
  }

}



// Developer Note

$debug-devNote-width: 200px;
$debug-devNote-padding: 5px;
$debug-devNote-borderRadius: 2px;
$debug-devNote-color: $white;
$debug-devNote-background: $red;
$debug-devNote-fontSize: 12px;

$debug-devNoteTip-background: rgba($debug-devNote-background, .5);

@if ($tx-debug == true) {

  %debug-devNoteStyle {
    border-radius: $debug-devNote-borderRadius;
    color: $debug-devNote-color;
    background: $debug-devNote-background;
  }

  [data-dev-note] {
    @extend %debug-devNoteStyle;
    position: relative;
    box-decoration-break: clone;
    padding: 0 $debug-devNote-padding;

    &:hover {
      background: $debug-devNoteTip-background;

      &:after {
        @extend %debug-devNoteStyle;
        position: absolute;
        bottom: 100%;
        left: 50%;
        content: 'Dev Note:\A' attr(data-dev-note);
        display: block;
        width: ($debug-devNote-width - $debug-devNote-padding);
        padding: $debug-devNote-padding;
        margin: 0 0 5px ($debug-devNote-width / -2);
        font-weight: normal;
        font-size: $debug-devNote-fontSize;
        line-height: 1.2;
      }

    }

  }

}



// Accessibility Debug

$debug-a11y-outlineWidth: 2px;
$debug-a11y-outlineColor: $red;

@if ($tx-debug == true) {

  %debugOutline {
    outline: 1em solid $debug-a11y-outlineColor;
  }

  * {

    &[style] {
      @extend %debugOutline;
    }

  }

  html {

    &:not([lang]),
    &[lang = ''] {
      @extend %debugOutline;
    }

  }

  meta {

    &[charset] {

      &:not([charset='UTF-8']) {
        @extend %debugOutline;
        display: block;
      }

    }

  }

  img {

    &:not([alt]) {
      @extend %debugOutline;
    }

  }

  a {

    &:not([href]),
    &[href = ''],
    &[href *= 'javascript:void(0)'] {
      @extend %debugOutline;
    }

    &:empty {
      @extend %debugOutline;
    }

  }

  input,
  select,
  textarea {

    &:not([id]) {
      @extend %debugOutline;
    }

  }

  button {

    &:empty {
      @extend %debugOutline;
    }

  }

  label {

    &:not([for]) {
      @extend %debugOutline;
    }

  }

}
