// Transitions

$UITransition: .15s;
$UITransition-instant: .0001s;



// Focus

$focus-outlineWidth: 1px;
$focus-outlineColor: $gray;



// Fields

$field-borderWidth: 1px;
$field-borderColor: $gray;
