// White

$white: #fff;



// Black

$black: #000;
$black-light: #24292e;



// Gray

$gray-lightest: #e5e5e5;
$gray-light: #ccc;
$gray: #999;
$gray-dark: #737373;
$gray-darkest: #595959;



// Red

$red-lightest: #ff978c;
$red-light: #f26d61;
$red: #cc2929;
$red-dark: #a62934;
$red-darkest: #8c232c;



// Blue

$blue-lightest: #59c8ff;
$blue-light: #39ace5;
$blue: #2988cc;
$blue-dark: #2d70b3;
$blue-darkest: #234f8c;



// Purple

$purple-lightest: #f373ff;
$purple-light: #d739e5;
$purple: #af1fcc;
$purple-dark: #8e22b3;
$purple-darkest: #692680;



// Yellow

$yellow-lightest: #fff58c;
$yellow-light: #f5e962;
$yellow: #f6e002;
$yellow-dark: #e5c910;
$yellow-darkest: #dba621;



// Green

$green-lightest: #9ff26b;
$green-light: #77eb67;
$green: #29cc5f;
$green-dark: #39ad6f;
$green-darkest: #298a73;



// Social Networks

$facebookColor: #3b5998;
$twitterColor: #0084b4;
$vkColor: #507299;
$okColor: #ee8208;
$instagramColor: #8a3ab9;
$youtTubeColor: #e52d27;
