// White

$white: #fff;



// Black

$black: #000;
$black-light: #24292e;



// Gray

$gray: #acacac;
$gray-light: #ccc;
$gray-dark: #4d4d4d;



// Red

$red: #ee1c25;
$red-light: #f15f69;
$red-dark: #6e080c;



// Blue

$blue: #4c8cca;
$blue-light: #00b9f1;
$blue-dark: #0f4263;



// Purple

$purple: #ad628d;
$purple-light: #f6b1d0;
$purple-dark: #623b8c;



// Yellow

$yellow: #fd0;
$yellow-light: #ffdf7e;
$yellow-dark: #f99643;



// Green

$green: #009448;
$green-light: #bbd769;
$green-dark: #185b3b;



// Social Networks

$facebookColor: #3b5998;
$twitterColor: #0084b4;
$vkColor: #507299;
$okColor: #ee8208;
$instagramColor: #8a3ab9;
$youtTubeColor: #e52d27;
