// sprites.png

$spt-arrowNext-name: 'spt-arrowNext';
$spt-arrowNext-x: 70px;
$spt-arrowNext-y: 54px;
$spt-arrowNext-offset-x: -70px;
$spt-arrowNext-offset-y: -54px;
$spt-arrowNext-width: 8px;
$spt-arrowNext-height: 12px;
$spt-arrowNext-total-width: 80px;
$spt-arrowNext-total-height: 76px;
$spt-arrowNext-image: '../images/sprites.png';
$spt-arrowNext: (70px, 54px, -70px, -54px, 8px, 12px, 80px, 76px, '../images/sprites.png', 'spt-arrowNext');
$spt-arrowPrev-name: 'spt-arrowPrev';
$spt-arrowPrev-x: 57px;
$spt-arrowPrev-y: 54px;
$spt-arrowPrev-offset-x: -57px;
$spt-arrowPrev-offset-y: -54px;
$spt-arrowPrev-width: 8px;
$spt-arrowPrev-height: 12px;
$spt-arrowPrev-total-width: 80px;
$spt-arrowPrev-total-height: 76px;
$spt-arrowPrev-image: '../images/sprites.png';
$spt-arrowPrev: (57px, 54px, -57px, -54px, 8px, 12px, 80px, 76px, '../images/sprites.png', 'spt-arrowPrev');
$spt-galleryArrowNext-name: 'spt-galleryArrowNext';
$spt-galleryArrowNext-x: 39px;
$spt-galleryArrowNext-y: 54px;
$spt-galleryArrowNext-offset-x: -39px;
$spt-galleryArrowNext-offset-y: -54px;
$spt-galleryArrowNext-width: 13px;
$spt-galleryArrowNext-height: 22px;
$spt-galleryArrowNext-total-width: 80px;
$spt-galleryArrowNext-total-height: 76px;
$spt-galleryArrowNext-image: '../images/sprites.png';
$spt-galleryArrowNext: (39px, 54px, -39px, -54px, 13px, 22px, 80px, 76px, '../images/sprites.png', 'spt-galleryArrowNext');
$spt-galleryArrowPrev-name: 'spt-galleryArrowPrev';
$spt-galleryArrowPrev-x: 21px;
$spt-galleryArrowPrev-y: 54px;
$spt-galleryArrowPrev-offset-x: -21px;
$spt-galleryArrowPrev-offset-y: -54px;
$spt-galleryArrowPrev-width: 13px;
$spt-galleryArrowPrev-height: 22px;
$spt-galleryArrowPrev-total-width: 80px;
$spt-galleryArrowPrev-total-height: 76px;
$spt-galleryArrowPrev-image: '../images/sprites.png';
$spt-galleryArrowPrev: (21px, 54px, -21px, -54px, 13px, 22px, 80px, 76px, '../images/sprites.png', 'spt-galleryArrowPrev');
$spt-gear-name: 'spt-gear';
$spt-gear-x: 27px;
$spt-gear-y: 27px;
$spt-gear-offset-x: -27px;
$spt-gear-offset-y: -27px;
$spt-gear-width: 22px;
$spt-gear-height: 22px;
$spt-gear-total-width: 80px;
$spt-gear-total-height: 76px;
$spt-gear-image: '../images/sprites.png';
$spt-gear: (27px, 27px, -27px, -27px, 22px, 22px, 80px, 76px, '../images/sprites.png', 'spt-gear');
$spt-note-name: 'spt-note';
$spt-note-x: 60px;
$spt-note-y: 0;
$spt-note-offset-x: -60px;
$spt-note-offset-y: 0;
$spt-note-width: 20px;
$spt-note-height: 22px;
$spt-note-total-width: 80px;
$spt-note-total-height: 76px;
$spt-note-image: '../images/sprites.png';
$spt-note: (60px, 0, -60px, 0, 20px, 22px, 80px, 76px, '../images/sprites.png', 'spt-note');
$spt-phone-name: 'spt-phone';
$spt-phone-x: 0;
$spt-phone-y: 54px;
$spt-phone-offset-x: 0;
$spt-phone-offset-y: -54px;
$spt-phone-width: 16px;
$spt-phone-height: 22px;
$spt-phone-total-width: 80px;
$spt-phone-total-height: 76px;
$spt-phone-image: '../images/sprites.png';
$spt-phone: (0, 54px, 0, -54px, 16px, 22px, 80px, 76px, '../images/sprites.png', 'spt-phone');
$spt-placeholder-name: 'spt-placeholder';
$spt-placeholder-x: 0;
$spt-placeholder-y: 27px;
$spt-placeholder-offset-x: 0;
$spt-placeholder-offset-y: -27px;
$spt-placeholder-width: 22px;
$spt-placeholder-height: 22px;
$spt-placeholder-total-width: 80px;
$spt-placeholder-total-height: 76px;
$spt-placeholder-image: '../images/sprites.png';
$spt-placeholder: (0, 27px, 0, -27px, 22px, 22px, 80px, 76px, '../images/sprites.png', 'spt-placeholder');
$spt-reload-name: 'spt-reload';
$spt-reload-x: 33px;
$spt-reload-y: 0;
$spt-reload-offset-x: -33px;
$spt-reload-offset-y: 0;
$spt-reload-width: 22px;
$spt-reload-height: 22px;
$spt-reload-total-width: 80px;
$spt-reload-total-height: 76px;
$spt-reload-image: '../images/sprites.png';
$spt-reload: (33px, 0, -33px, 0, 22px, 22px, 80px, 76px, '../images/sprites.png', 'spt-reload');
$spt-search-name: 'spt-search';
$spt-search-x: 60px;
$spt-search-y: 27px;
$spt-search-offset-x: -60px;
$spt-search-offset-y: -27px;
$spt-search-width: 20px;
$spt-search-height: 20px;
$spt-search-total-width: 80px;
$spt-search-total-height: 76px;
$spt-search-image: '../images/sprites.png';
$spt-search: (60px, 27px, -60px, -27px, 20px, 20px, 80px, 76px, '../images/sprites.png', 'spt-search');
$spt-tablet-name: 'spt-tablet';
$spt-tablet-x: 0;
$spt-tablet-y: 0;
$spt-tablet-offset-x: 0;
$spt-tablet-offset-y: 0;
$spt-tablet-width: 28px;
$spt-tablet-height: 22px;
$spt-tablet-total-width: 80px;
$spt-tablet-total-height: 76px;
$spt-tablet-image: '../images/sprites.png';
$spt-tablet: (0, 0, 0, 0, 28px, 22px, 80px, 76px, '../images/sprites.png', 'spt-tablet');
$ssh-sprites-width: 80px;
$ssh-sprites-height: 76px;
$ssh-sprites-image: '../images/sprites.png';
$ssh-sprites-sprites: ($spt-arrowNext, $spt-arrowPrev, $spt-galleryArrowNext, $spt-galleryArrowPrev, $spt-gear, $spt-note, $spt-phone, $spt-placeholder, $spt-reload, $spt-search, $spt-tablet);
$ssh-sprites: (80px, 76px, '../images/sprites.png', $ssh-sprites-sprites);

%ssh-sprites {
  background-image: url(nth($ssh-sprites, 3));
}

@mixin ssh-sprites {
  %ssh-sprites {
    background-image: url(nth($ssh-sprites, 3));
  }
}



// sprites@2x.png

$spt-arrowNext-2x-name: 'spt-arrowNext@2x';
$spt-arrowNext-2x-x: 140px;
$spt-arrowNext-2x-y: 108px;
$spt-arrowNext-2x-offset-x: -140px;
$spt-arrowNext-2x-offset-y: -108px;
$spt-arrowNext-2x-width: 16px;
$spt-arrowNext-2x-height: 24px;
$spt-arrowNext-2x-total-width: 160px;
$spt-arrowNext-2x-total-height: 152px;
$spt-arrowNext-2x-image: '../images/sprites@2x.png';
$spt-arrowNext-2x: (140px, 108px, -140px, -108px, 16px, 24px, 160px, 152px, '../images/sprites@2x.png', 'spt-arrowNext@2x');
$spt-arrowPrev-2x-name: 'spt-arrowPrev@2x';
$spt-arrowPrev-2x-x: 114px;
$spt-arrowPrev-2x-y: 108px;
$spt-arrowPrev-2x-offset-x: -114px;
$spt-arrowPrev-2x-offset-y: -108px;
$spt-arrowPrev-2x-width: 16px;
$spt-arrowPrev-2x-height: 24px;
$spt-arrowPrev-2x-total-width: 160px;
$spt-arrowPrev-2x-total-height: 152px;
$spt-arrowPrev-2x-image: '../images/sprites@2x.png';
$spt-arrowPrev-2x: (114px, 108px, -114px, -108px, 16px, 24px, 160px, 152px, '../images/sprites@2x.png', 'spt-arrowPrev@2x');
$spt-galleryArrowNext-2x-name: 'spt-galleryArrowNext@2x';
$spt-galleryArrowNext-2x-x: 78px;
$spt-galleryArrowNext-2x-y: 108px;
$spt-galleryArrowNext-2x-offset-x: -78px;
$spt-galleryArrowNext-2x-offset-y: -108px;
$spt-galleryArrowNext-2x-width: 26px;
$spt-galleryArrowNext-2x-height: 44px;
$spt-galleryArrowNext-2x-total-width: 160px;
$spt-galleryArrowNext-2x-total-height: 152px;
$spt-galleryArrowNext-2x-image: '../images/sprites@2x.png';
$spt-galleryArrowNext-2x: (78px, 108px, -78px, -108px, 26px, 44px, 160px, 152px, '../images/sprites@2x.png', 'spt-galleryArrowNext@2x');
$spt-galleryArrowPrev-2x-name: 'spt-galleryArrowPrev@2x';
$spt-galleryArrowPrev-2x-x: 42px;
$spt-galleryArrowPrev-2x-y: 108px;
$spt-galleryArrowPrev-2x-offset-x: -42px;
$spt-galleryArrowPrev-2x-offset-y: -108px;
$spt-galleryArrowPrev-2x-width: 26px;
$spt-galleryArrowPrev-2x-height: 44px;
$spt-galleryArrowPrev-2x-total-width: 160px;
$spt-galleryArrowPrev-2x-total-height: 152px;
$spt-galleryArrowPrev-2x-image: '../images/sprites@2x.png';
$spt-galleryArrowPrev-2x: (42px, 108px, -42px, -108px, 26px, 44px, 160px, 152px, '../images/sprites@2x.png', 'spt-galleryArrowPrev@2x');
$spt-gear-2x-name: 'spt-gear@2x';
$spt-gear-2x-x: 54px;
$spt-gear-2x-y: 54px;
$spt-gear-2x-offset-x: -54px;
$spt-gear-2x-offset-y: -54px;
$spt-gear-2x-width: 44px;
$spt-gear-2x-height: 44px;
$spt-gear-2x-total-width: 160px;
$spt-gear-2x-total-height: 152px;
$spt-gear-2x-image: '../images/sprites@2x.png';
$spt-gear-2x: (54px, 54px, -54px, -54px, 44px, 44px, 160px, 152px, '../images/sprites@2x.png', 'spt-gear@2x');
$spt-note-2x-name: 'spt-note@2x';
$spt-note-2x-x: 120px;
$spt-note-2x-y: 0;
$spt-note-2x-offset-x: -120px;
$spt-note-2x-offset-y: 0;
$spt-note-2x-width: 40px;
$spt-note-2x-height: 44px;
$spt-note-2x-total-width: 160px;
$spt-note-2x-total-height: 152px;
$spt-note-2x-image: '../images/sprites@2x.png';
$spt-note-2x: (120px, 0, -120px, 0, 40px, 44px, 160px, 152px, '../images/sprites@2x.png', 'spt-note@2x');
$spt-phone-2x-name: 'spt-phone@2x';
$spt-phone-2x-x: 0;
$spt-phone-2x-y: 108px;
$spt-phone-2x-offset-x: 0;
$spt-phone-2x-offset-y: -108px;
$spt-phone-2x-width: 32px;
$spt-phone-2x-height: 44px;
$spt-phone-2x-total-width: 160px;
$spt-phone-2x-total-height: 152px;
$spt-phone-2x-image: '../images/sprites@2x.png';
$spt-phone-2x: (0, 108px, 0, -108px, 32px, 44px, 160px, 152px, '../images/sprites@2x.png', 'spt-phone@2x');
$spt-placeholder-2x-name: 'spt-placeholder@2x';
$spt-placeholder-2x-x: 0;
$spt-placeholder-2x-y: 54px;
$spt-placeholder-2x-offset-x: 0;
$spt-placeholder-2x-offset-y: -54px;
$spt-placeholder-2x-width: 44px;
$spt-placeholder-2x-height: 44px;
$spt-placeholder-2x-total-width: 160px;
$spt-placeholder-2x-total-height: 152px;
$spt-placeholder-2x-image: '../images/sprites@2x.png';
$spt-placeholder-2x: (0, 54px, 0, -54px, 44px, 44px, 160px, 152px, '../images/sprites@2x.png', 'spt-placeholder@2x');
$spt-reload-2x-name: 'spt-reload@2x';
$spt-reload-2x-x: 66px;
$spt-reload-2x-y: 0;
$spt-reload-2x-offset-x: -66px;
$spt-reload-2x-offset-y: 0;
$spt-reload-2x-width: 44px;
$spt-reload-2x-height: 44px;
$spt-reload-2x-total-width: 160px;
$spt-reload-2x-total-height: 152px;
$spt-reload-2x-image: '../images/sprites@2x.png';
$spt-reload-2x: (66px, 0, -66px, 0, 44px, 44px, 160px, 152px, '../images/sprites@2x.png', 'spt-reload@2x');
$spt-search-2x-name: 'spt-search@2x';
$spt-search-2x-x: 120px;
$spt-search-2x-y: 54px;
$spt-search-2x-offset-x: -120px;
$spt-search-2x-offset-y: -54px;
$spt-search-2x-width: 40px;
$spt-search-2x-height: 40px;
$spt-search-2x-total-width: 160px;
$spt-search-2x-total-height: 152px;
$spt-search-2x-image: '../images/sprites@2x.png';
$spt-search-2x: (120px, 54px, -120px, -54px, 40px, 40px, 160px, 152px, '../images/sprites@2x.png', 'spt-search@2x');
$spt-tablet-2x-name: 'spt-tablet@2x';
$spt-tablet-2x-x: 0;
$spt-tablet-2x-y: 0;
$spt-tablet-2x-offset-x: 0;
$spt-tablet-2x-offset-y: 0;
$spt-tablet-2x-width: 56px;
$spt-tablet-2x-height: 44px;
$spt-tablet-2x-total-width: 160px;
$spt-tablet-2x-total-height: 152px;
$spt-tablet-2x-image: '../images/sprites@2x.png';
$spt-tablet-2x: (0, 0, 0, 0, 56px, 44px, 160px, 152px, '../images/sprites@2x.png', 'spt-tablet@2x');
$ssh-sprites-2x-width: 160px;
$ssh-sprites-2x-height: 152px;
$ssh-sprites-2x-image: '../images/sprites@2x.png';
$ssh-sprites-2x-sprites: ($spt-arrowNext-2x, $spt-arrowPrev-2x, $spt-galleryArrowNext-2x, $spt-galleryArrowPrev-2x, $spt-gear-2x, $spt-note-2x, $spt-phone-2x, $spt-placeholder-2x, $spt-reload-2x, $spt-search-2x, $spt-tablet-2x);
$ssh-sprites-2x: (160px, 152px, '../images/sprites@2x.png', $ssh-sprites-2x-sprites);

@mixin ssh-sprites-2x {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites-2x, 3));
    background-size: #{nth($ssh-sprites, 1)} #{nth($ssh-sprites, 2)};
  }

}



// sprites@3x.png

$spt-arrowNext-3x-name: 'spt-arrowNext@3x';
$spt-arrowNext-3x-x: 210px;
$spt-arrowNext-3x-y: 162px;
$spt-arrowNext-3x-offset-x: -210px;
$spt-arrowNext-3x-offset-y: -162px;
$spt-arrowNext-3x-width: 24px;
$spt-arrowNext-3x-height: 36px;
$spt-arrowNext-3x-total-width: 240px;
$spt-arrowNext-3x-total-height: 228px;
$spt-arrowNext-3x-image: '../images/sprites@3x.png';
$spt-arrowNext-3x: (210px, 162px, -210px, -162px, 24px, 36px, 240px, 228px, '../images/sprites@3x.png', 'spt-arrowNext@3x');
$spt-arrowPrev-3x-name: 'spt-arrowPrev@3x';
$spt-arrowPrev-3x-x: 171px;
$spt-arrowPrev-3x-y: 162px;
$spt-arrowPrev-3x-offset-x: -171px;
$spt-arrowPrev-3x-offset-y: -162px;
$spt-arrowPrev-3x-width: 24px;
$spt-arrowPrev-3x-height: 36px;
$spt-arrowPrev-3x-total-width: 240px;
$spt-arrowPrev-3x-total-height: 228px;
$spt-arrowPrev-3x-image: '../images/sprites@3x.png';
$spt-arrowPrev-3x: (171px, 162px, -171px, -162px, 24px, 36px, 240px, 228px, '../images/sprites@3x.png', 'spt-arrowPrev@3x');
$spt-galleryArrowNext-3x-name: 'spt-galleryArrowNext@3x';
$spt-galleryArrowNext-3x-x: 117px;
$spt-galleryArrowNext-3x-y: 162px;
$spt-galleryArrowNext-3x-offset-x: -117px;
$spt-galleryArrowNext-3x-offset-y: -162px;
$spt-galleryArrowNext-3x-width: 39px;
$spt-galleryArrowNext-3x-height: 66px;
$spt-galleryArrowNext-3x-total-width: 240px;
$spt-galleryArrowNext-3x-total-height: 228px;
$spt-galleryArrowNext-3x-image: '../images/sprites@3x.png';
$spt-galleryArrowNext-3x: (117px, 162px, -117px, -162px, 39px, 66px, 240px, 228px, '../images/sprites@3x.png', 'spt-galleryArrowNext@3x');
$spt-galleryArrowPrev-3x-name: 'spt-galleryArrowPrev@3x';
$spt-galleryArrowPrev-3x-x: 63px;
$spt-galleryArrowPrev-3x-y: 162px;
$spt-galleryArrowPrev-3x-offset-x: -63px;
$spt-galleryArrowPrev-3x-offset-y: -162px;
$spt-galleryArrowPrev-3x-width: 39px;
$spt-galleryArrowPrev-3x-height: 66px;
$spt-galleryArrowPrev-3x-total-width: 240px;
$spt-galleryArrowPrev-3x-total-height: 228px;
$spt-galleryArrowPrev-3x-image: '../images/sprites@3x.png';
$spt-galleryArrowPrev-3x: (63px, 162px, -63px, -162px, 39px, 66px, 240px, 228px, '../images/sprites@3x.png', 'spt-galleryArrowPrev@3x');
$spt-gear-3x-name: 'spt-gear@3x';
$spt-gear-3x-x: 81px;
$spt-gear-3x-y: 81px;
$spt-gear-3x-offset-x: -81px;
$spt-gear-3x-offset-y: -81px;
$spt-gear-3x-width: 66px;
$spt-gear-3x-height: 66px;
$spt-gear-3x-total-width: 240px;
$spt-gear-3x-total-height: 228px;
$spt-gear-3x-image: '../images/sprites@3x.png';
$spt-gear-3x: (81px, 81px, -81px, -81px, 66px, 66px, 240px, 228px, '../images/sprites@3x.png', 'spt-gear@3x');
$spt-note-3x-name: 'spt-note@3x';
$spt-note-3x-x: 180px;
$spt-note-3x-y: 0;
$spt-note-3x-offset-x: -180px;
$spt-note-3x-offset-y: 0;
$spt-note-3x-width: 60px;
$spt-note-3x-height: 66px;
$spt-note-3x-total-width: 240px;
$spt-note-3x-total-height: 228px;
$spt-note-3x-image: '../images/sprites@3x.png';
$spt-note-3x: (180px, 0, -180px, 0, 60px, 66px, 240px, 228px, '../images/sprites@3x.png', 'spt-note@3x');
$spt-phone-3x-name: 'spt-phone@3x';
$spt-phone-3x-x: 0;
$spt-phone-3x-y: 162px;
$spt-phone-3x-offset-x: 0;
$spt-phone-3x-offset-y: -162px;
$spt-phone-3x-width: 48px;
$spt-phone-3x-height: 66px;
$spt-phone-3x-total-width: 240px;
$spt-phone-3x-total-height: 228px;
$spt-phone-3x-image: '../images/sprites@3x.png';
$spt-phone-3x: (0, 162px, 0, -162px, 48px, 66px, 240px, 228px, '../images/sprites@3x.png', 'spt-phone@3x');
$spt-placeholder-3x-name: 'spt-placeholder@3x';
$spt-placeholder-3x-x: 0;
$spt-placeholder-3x-y: 81px;
$spt-placeholder-3x-offset-x: 0;
$spt-placeholder-3x-offset-y: -81px;
$spt-placeholder-3x-width: 66px;
$spt-placeholder-3x-height: 66px;
$spt-placeholder-3x-total-width: 240px;
$spt-placeholder-3x-total-height: 228px;
$spt-placeholder-3x-image: '../images/sprites@3x.png';
$spt-placeholder-3x: (0, 81px, 0, -81px, 66px, 66px, 240px, 228px, '../images/sprites@3x.png', 'spt-placeholder@3x');
$spt-reload-3x-name: 'spt-reload@3x';
$spt-reload-3x-x: 99px;
$spt-reload-3x-y: 0;
$spt-reload-3x-offset-x: -99px;
$spt-reload-3x-offset-y: 0;
$spt-reload-3x-width: 66px;
$spt-reload-3x-height: 66px;
$spt-reload-3x-total-width: 240px;
$spt-reload-3x-total-height: 228px;
$spt-reload-3x-image: '../images/sprites@3x.png';
$spt-reload-3x: (99px, 0, -99px, 0, 66px, 66px, 240px, 228px, '../images/sprites@3x.png', 'spt-reload@3x');
$spt-search-3x-name: 'spt-search@3x';
$spt-search-3x-x: 180px;
$spt-search-3x-y: 81px;
$spt-search-3x-offset-x: -180px;
$spt-search-3x-offset-y: -81px;
$spt-search-3x-width: 60px;
$spt-search-3x-height: 60px;
$spt-search-3x-total-width: 240px;
$spt-search-3x-total-height: 228px;
$spt-search-3x-image: '../images/sprites@3x.png';
$spt-search-3x: (180px, 81px, -180px, -81px, 60px, 60px, 240px, 228px, '../images/sprites@3x.png', 'spt-search@3x');
$spt-tablet-3x-name: 'spt-tablet@3x';
$spt-tablet-3x-x: 0;
$spt-tablet-3x-y: 0;
$spt-tablet-3x-offset-x: 0;
$spt-tablet-3x-offset-y: 0;
$spt-tablet-3x-width: 84px;
$spt-tablet-3x-height: 66px;
$spt-tablet-3x-total-width: 240px;
$spt-tablet-3x-total-height: 228px;
$spt-tablet-3x-image: '../images/sprites@3x.png';
$spt-tablet-3x: (0, 0, 0, 0, 84px, 66px, 240px, 228px, '../images/sprites@3x.png', 'spt-tablet@3x');
$ssh-sprites-3x-width: 240px;
$ssh-sprites-3x-height: 228px;
$ssh-sprites-3x-image: '../images/sprites@3x.png';
$ssh-sprites-3x-sprites: ($spt-arrowNext-3x, $spt-arrowPrev-3x, $spt-galleryArrowNext-3x, $spt-galleryArrowPrev-3x, $spt-gear-3x, $spt-note-3x, $spt-phone-3x, $spt-placeholder-3x, $spt-reload-3x, $spt-search-3x, $spt-tablet-3x);
$ssh-sprites-3x: (240px, 228px, '../images/sprites@3x.png', $ssh-sprites-3x-sprites);

@mixin ssh-sprites-3x {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites-3x, 3));
    background-size: #{nth($ssh-sprites, 1)} #{nth($ssh-sprites, 2)};
  }

}
