// Layout

$breakpoints: (
  phoneMax: 720px,
  desktopMin: 980px,
  desktopWide: 1366px,
  desktopMax: 1920px
);

$breakpointsRem: (
  phoneMax: txf-breakpointRem(phoneMax),
  desktopMin: txf-breakpointRem(desktopMin),
  desktopWide: txf-breakpointRem(desktopWide),
  desktopMax: txf-breakpointRem(desktopMax)
);

$breakpointsDPI: (
  retina: 150,
  retinaHD: 250
);



// Gap

$gap: 30px;
