// Media Queries

$breakpoints: (
  phoneMax: 720px,
  desktopMin: 980px,
  desktopWide: 1366px,
  desktopMax: 1920px
);

$breakpointsDPI: (
  hdpi: 150,
  xhdpi: 250
);


/**

$type: type - screen, tv, etc.
$pixels: true|false - pixels instead of ems
$orientation: false|portrait|landscape - screen orientation

*/

$breakpointQueries: (
  wide: txf-breakpointQuery($min: desktopWide),
  hdpi: txf-breakpointQuery($dpi: hdpi),
  xhdpi: txf-breakpointQuery($dpi: xhdpi),
  tablet: txf-breakpointQuery($max: desktopMin),
  tablet2x: txf-breakpointQuery($max: desktopMin, $dpi: hdpi),
  tablet3x: txf-breakpointQuery($max: desktopMin, $dpi: xhdpi),
  phone: txf-breakpointQuery($max: phoneMax),
  phone2x: txf-breakpointQuery($max: phoneMax, $dpi: hdpi),
  phone3x: txf-breakpointQuery($max: phoneMax, $dpi: xhdpi),
);

$mediaQueries: (
  hdpi: txf-deviceBreakpoint(hdpi),
  xhdpi: txf-deviceBreakpoint(xhdpi),
  phone: txf-deviceBreakpoint(phone),
  phone2x: txf-deviceBreakpoint(phone2x),
  phone3x: txf-deviceBreakpoint(phone3x),
  tablet: txf-deviceBreakpoint(tablet),
  tablet2x: txf-deviceBreakpoint(tablet2x),
  tablet3x: txf-deviceBreakpoint(tablet3x),
  wide: txf-deviceBreakpoint(wide),
  watch: '(max-device-width: 42mm) and (min-device-width: 38mm)',
  print: 'print',
  speech: 'speech',
  exotic: 'projection, tv',
  home: '(display-mode: standalone)',
  full: '(device-width: 100vw) and (device-height: 100vh)',
  nopointer: '(pointer: none)',
  coarse: '(pointer: coarse)',
  fine: '(pointer: fine)',
  hover: '(hover: hover)',
  nohover: '(hover: none)',
  landscape: '(orientation: landscape)',
  portrait: '(orientation: portrait)',
  progressive: '(scan: progressive)',
  interlace: '(scan: interlace)',
  grid: '(grid)',
  still: '(prefers-reduced-motion: reduce)',
  motion: '(prefers-reduced-motion: no-preference)',
  contrast: '(-ms-high-contrast: active)',
  bow: '(-ms-high-contrast: black-on-white)',
  wob: '(-ms-high-contrast: white-on-black)',
);
