// Layout

$breakpoints: (
  desktopMin: 980px,
  desktopWide: 1366px,
  desktopMax: 1920px,
  phoneMax: 720px
);

$breakpointsRem: (
  desktopMin: txf-breakpointRem(desktopMin),
  desktopWide: txf-breakpointRem(desktopWide),
  desktopMax: txf-breakpointRem(desktopMax),
  phoneMax: txf-breakpointRem(phoneMax)
);


// Gap

$gap: 30px;
