// White

$white: #fff;



// Black

$black: #000;
$black-light: #333;



// Gray

$gray: #666;
$gray-light: #ccc;
$gray-dark: #4d4d4d;



// Red

$red: #d9534f;
$red-light: #e48481;
$red-dark: #7e1e1b;



// Blue

$blue: #337ab7;
$blue-light: #87b6de;
$blue-dark: #23527c;



// Purple

$purple: #6f5499;
$purple-light: #937bb7;
$purple-dark: #302442;



// Yellow

$yellow: #cca300;
$yellow-light: #ffda48;
$yellow-dark: #997a00;



// Green

$green: #009971;
$green-light: #00cc96;
$green-dark: #006a4e;
