@import '../tx/_tx';

@import '_project-colors';
@import '_project-sprites';
@import '_project-images';
@import '_project-baseline';
@import '_project-layout';
@import '_project-ui';



// Project Properties

$tx-IE: false;
$tx-remFallback: true;
