// Transitions

$UITransitionDefault: .2s;
$UITransitionMedium: .3s;
$UITransitionSlow: .4s;
$UITransitionSlowest: .5s;



// Focus

$focus-outlineWidth: 1px;
$focus-outlineColor: $gray;



// Fields

$field-borderWidth: 1px;
$field-borderColor: $gray;

$placeholder-color: $gray;



// Selection

$selection-color: $white;
$selection-background: $blue;
