// s.jpg

$spt-3e94127602ce966c7484d1d4a97de843-name: 'spt-3e94127602ce966c7484d1d4a97de843';
$spt-3e94127602ce966c7484d1d4a97de843-x: 1186px;
$spt-3e94127602ce966c7484d1d4a97de843-y: 0;
$spt-3e94127602ce966c7484d1d4a97de843-offset-x: -1186px;
$spt-3e94127602ce966c7484d1d4a97de843-offset-y: 0;
$spt-3e94127602ce966c7484d1d4a97de843-width: 600px;
$spt-3e94127602ce966c7484d1d4a97de843-height: 600px;
$spt-3e94127602ce966c7484d1d4a97de843-total-width: 1786px;
$spt-3e94127602ce966c7484d1d4a97de843-total-height: 1737px;
$spt-3e94127602ce966c7484d1d4a97de843-image: '../images/s.jpg';
$spt-3e94127602ce966c7484d1d4a97de843: (1186px, 0, -1186px, 0, 600px, 600px, 1786px, 1737px, '../images/s.jpg', 'spt-3e94127602ce966c7484d1d4a97de843');
$spt-8b811f25119617-56341d0fe7b58-name: 'spt-8b811f25119617.56341d0fe7b58';
$spt-8b811f25119617-56341d0fe7b58-x: 0;
$spt-8b811f25119617-56341d0fe7b58-y: 0;
$spt-8b811f25119617-56341d0fe7b58-offset-x: 0;
$spt-8b811f25119617-56341d0fe7b58-offset-y: 0;
$spt-8b811f25119617-56341d0fe7b58-width: 1181px;
$spt-8b811f25119617-56341d0fe7b58-height: 835px;
$spt-8b811f25119617-56341d0fe7b58-total-width: 1786px;
$spt-8b811f25119617-56341d0fe7b58-total-height: 1737px;
$spt-8b811f25119617-56341d0fe7b58-image: '../images/s.jpg';
$spt-8b811f25119617-56341d0fe7b58: (0, 0, 0, 0, 1181px, 835px, 1786px, 1737px, '../images/s.jpg', 'spt-8b811f25119617.56341d0fe7b58');
$spt-8e015f56becc43d54fbdfb30874436b4-name: 'spt-8e015f56becc43d54fbdfb30874436b4';
$spt-8e015f56becc43d54fbdfb30874436b4-x: 0;
$spt-8e015f56becc43d54fbdfb30874436b4-y: 840px;
$spt-8e015f56becc43d54fbdfb30874436b4-offset-x: 0;
$spt-8e015f56becc43d54fbdfb30874436b4-offset-y: -840px;
$spt-8e015f56becc43d54fbdfb30874436b4-width: 600px;
$spt-8e015f56becc43d54fbdfb30874436b4-height: 897px;
$spt-8e015f56becc43d54fbdfb30874436b4-total-width: 1786px;
$spt-8e015f56becc43d54fbdfb30874436b4-total-height: 1737px;
$spt-8e015f56becc43d54fbdfb30874436b4-image: '../images/s.jpg';
$spt-8e015f56becc43d54fbdfb30874436b4: (0, 840px, 0, -840px, 600px, 897px, 1786px, 1737px, '../images/s.jpg', 'spt-8e015f56becc43d54fbdfb30874436b4');
$ssh-s-width: 1786px;
$ssh-s-height: 1737px;
$ssh-s-image: '../images/s.jpg';
$ssh-s-sprites: ($spt-3e94127602ce966c7484d1d4a97de843, $spt-8b811f25119617-56341d0fe7b58, $spt-8e015f56becc43d54fbdfb30874436b4);
$ssh-s: (1786px, 1737px, '../images/s.jpg', $ssh-s-sprites);
