// Colors

$white: #fff;
$red: #d9534f;
$blue: #337ab7;
$blueDark: #23527c;
$purple: #6f5499;
$gray: #ccc;
$black: #333;

$underlineOpacity: .5;



// Default Colors

$text: $black;
$link: $blue;
$visited: $purple;
$hover: $red;
$active: $blueDark;
$focus-outlineColor: $gray;

$background: $white;

$placeholder-color: $gray;

$selection-color: $white;
$selection-background: $blue;

$print-color: $black;
$print-background: $white;
