/* Button */

$tx-button-height: 48px;
$tx-button-padding: $gap;
$tx-button-color: $white;
$tx-button-hover: $blue;
$tx-button-background: $blue;
$tx-button-backgroundHover: $white;
$tx-button-borderWidth: 2px;
$tx-button-borderColor: $tx-button-background;

%tx-button {
  @extend %tx-buttonHover;
  height: ($tx-button-height - $tx-button-borderWidth * 2);
  padding: 0 ($tx-button-padding - $tx-button-borderWidth);
  border: $tx-button-borderWidth solid $tx-button-borderColor;
  color: $tx-button-color;
  background: $tx-button-background;
  transition: $UITransition;

  &-link {
    @extend %tx-button;
    text-decoration: none;
    line-height: ($tx-button-height - $tx-button-borderWidth * 2);

    &:visited {
      color: $tx-button-color;
      background: $tx-button-background;
    }

  }

  &-input {
    @extend %tx-button;
    cursor: pointer;
  }

  &:hover,
  &:active {
    color: $tx-button-hover;
    background: $tx-button-backgroundHover;
  }

}
