/* Field */

$tx-field-height: 48px;
$tx-field-padding: ($gap / 2);
$tx-field-borderWidth: 2px;
$tx-field-borderColor: $gray;

%tx-field {
  height: ($tx-field-height - $tx-field-borderWidth * 2);
  padding: 0 $tx-field-padding;
  border: $tx-field-borderWidth solid $tx-field-borderColor;
}

