/* Hamburger */

$tx-hamburger-width: 25px;
$tx-hamburger-height: 19px;
$tx-hamburger-lineWidth: 3px;
$tx-hamburger-lineColor: $red;

%tx-hamburger {
  height: $tx-hamburger-height;
  color: $tx-hamburger-lineColor;
  line-height: $tx-hamburger-height;
  text-decoration: none;

  &:before,
  &:after {
    @extend %tx-hamburger-line;
    left: 0;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:visited,
  &:hover,
  &:active {
    color: $tx-hamburger-lineColor;
  }

  &-is-active {
    &:before {
      transform: translateY($tx-hamburger-height / 2 - $tx-hamburger-lineWidth / 2) rotate(-45deg);
    }

    &:after {
      transform: translateY($tx-hamburger-height / -2 + $tx-hamburger-lineWidth / 2) rotate(-135deg);
    }
  }

  &-line {
    @include tx-pseudo;
    width: $tx-hamburger-width;
    height: $tx-hamburger-lineWidth;
    background: $tx-hamburger-lineColor;
    transform-origin: 50% 50%;
    transition: $UITransitionSlow;
  }
}

%tx-hamburger-label {
  position: relative;
  top: 0;
  z-index: -1;
  display: block;
  padding: 0 0 0 ($tx-hamburger-width + 5px);

  &:before {
    @extend %tx-hamburger-line;
    top: 50%;
    left: 0;
    margin: ($tx-hamburger-lineWidth / -2) 0 0;
  }

  &-is-active {
    &:before {
      transform: rotate(-45deg);
      opacity: 0;
    }
  }
}
