/* Checkbox & Radio Button */

$tx-checkRadioBox-size: 20px;
$tx-checkRadioBox-borderWidth: 2px;
$tx-checkRadioBox-borderColor: $gray;

%tx-checkRadio {
  position: absolute;
  z-index: -1;
  left: -10000px;
}

%tx-checkRadioLabel {
  position: relative;
  padding: 0 0 0 ($tx-checkRadioBox-size + 10px);
  user-select: none;
}

%tx-checkRadioBox {
  @include tx-pseudo;
  top: 50%;
  left: 0;
  width: ($tx-checkRadioBox-size - $tx-checkRadioBox-borderWidth * 2);
  height: ($tx-checkRadioBox-size - $tx-checkRadioBox-borderWidth * 2);
  border: $tx-checkRadioBox-borderWidth solid $tx-checkRadioBox-borderColor;
  margin: ($tx-checkRadioBox-size / -2) 0 0;
}

%tx-checkRadioCheck {
  @include tx-pseudo;
  top: 50%;
  left: ($tx-checkRadioBox-size / 2);
}

%tx-checkRadioFocus {
  outline: $focus-outlineWidth dotted $focus-outlineColor;
}




/* Checkbox */

$tx-checkboxCheck-width: 10px;
$tx-checkboxCheck-height: 8px;
$tx-checkboxCheck-background: $blue;

%tx-checkbox {
  @extend %tx-checkRadio;

  &:checked + %tx-checkboxLabel {

    &:after {
      @extend %tx-checkboxCheck;
    }

  }

  &:focus + %tx-checkboxLabel {

    &:before {
      @extend %tx-checkboxFocus;
    }

  }

}

%tx-checkboxLabel {
  @extend %tx-checkRadioLabel;

  &:before {
    @extend %tx-checkboxBox;
  }

}

%tx-checkboxBox {
  @extend %tx-checkRadioBox;
}

%tx-checkboxCheck {
  @extend %tx-checkRadioCheck;
  width: $tx-checkboxCheck-width;
  height: $tx-checkboxCheck-height;
  margin: ($tx-checkboxCheck-height / -2) 0 0 ($tx-checkboxCheck-width / -2);
  background: $tx-checkboxCheck-background;
}

%tx-checkboxFocus {
  @extend %tx-checkRadioFocus;
}



/* Radio Button */

$tx-radioCheck-size: 8px;
$tx-radioCheck-background: $blue;

%tx-radio {
  @extend %tx-checkRadio;

  &:checked + %tx-radioLabel {

    &:after {
      @extend %tx-radioCheck;
    }

  }

  &:focus + %tx-radioLabel {

    &:before {
      @extend %tx-radioFocus;
    }

  }

}

%tx-radioLabel {
  @extend %tx-checkRadioLabel;

  &:before {
    @extend %tx-radioBox;
  }

}

%tx-radioBox {
  @extend %tx-checkRadioBox;
  border-radius: 50%;
}

%tx-radioCheck {
  @extend %tx-checkRadioCheck;
  width: $tx-radioCheck-size;
  height: $tx-radioCheck-size;
  border-radius: 50%;
  margin: ($tx-radioCheck-size / -2) 0 0 ($tx-radioCheck-size / -2);
  background: $tx-radioCheck-background;
}

%tx-radioFocus {
  @extend %tx-checkRadioFocus;
}
