/* Off Screen Navigation */

%tx-offScreenNav {
  transform: translateX(-100%) translateZ(0);
  pointer-events: none;

  &-is-active {
    transform: translateX(0) translateZ(0);
    pointer-events: all;
  }
}
