@import '_tx-fade';



/* Overlay */

$tx-overlay-opacity: .75;
$tx-overlay-backgroundSolid: $black;
$tx-overlay-backgroundOpacity: rgba($tx-overlay-backgroundSolid, $tx-overlay-opacity);

%tx-overlay {
  @extend %tx-fadeOut;
  @include tx-layer(top);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-align: center;
  background: $tx-overlay-backgroundSolid;
  background: $tx-overlay-backgroundOpacity;
  overscroll-behavior: contain;

  &:before {
    @include tx-pseudo-va;
  }

  &-is-active {
    @extend %tx-fadeIn;
  }

}
