/* Slider */

%tx-slider {

  &Holder {
    position: relative;
    overflow: hidden;
  }

  &Body {
    position: relative;
    transform: translateZ(0);
  }

  &Slide {
    @include tx-inline-block;
    width: 100%;
    vertical-align: top;
    touch-action: manipulation;
    user-select: none;
  }

}
