/* Slider */

%tx-slider {

  &Holder {
    position: relative;
    overflow: hidden;
  }

  &Body {
    position: relative;
    display: flex;
    transform: translateZ(0);
    filter: brightness(1.01);
  }

  &Slide {
    flex-shrink: 0;
    width: 100%;
    vertical-align: top;
    transform: translateZ(0);
    user-select: none;
    touch-action: manipulation;
  }

}
