/* Button */

$tx-button-height: 48px;
$tx-button-padding: $gap;
$tx-button-color: $white;
$tx-button-hover: $blue;
$tx-button-background: $blue;
$tx-button-backgroundHover: $white;
$tx-button-borderWidth: 2px;
$tx-button-borderColor: $tx-button-background;

%tx-button {
  height: ($tx-button-height - $tx-button-borderWidth * 2);
  padding: 0 ($tx-button-padding - $tx-button-borderWidth);
  border: $tx-button-borderWidth solid $tx-button-borderColor;
  transition: $UITransitionDefault;

  &-link {
    @extend %tx-button;
    text-decoration: none;
    line-height: ($tx-button-height - $tx-button-borderWidth * 2);

    &:link,
    &:visited {
      @extend %tx-buttonInitial;
    }

  }

  &-input {
    @extend %tx-button;
    @extend %tx-buttonInitial;
    line-height: 1;
    cursor: pointer;
  }

  &:hover,
  &:active {
    @extend %tx-buttonHover;
  }

  &Initial {
    color: $tx-button-color;
    background: $tx-button-background;
  }

  &Hover {
    color: $tx-button-hover;
    background: $tx-button-backgroundHover;
  }

  @include tx-media(coarse) {

    &:hover,
    &:active {
      color: $tx-button-color;
      background: $tx-button-background;
    }

  }

}
