$tx-fontSize-min: 14px;
$tx-lineHeight-min: $lineHeight;

$tx-fontSize-max: 24px;
$tx-lineHeight-max: 1.8;



/* Molten Typography */

:root {
  font-size: calc(#{txf-stripUnit($tx-fontSize-min)}px + (#{txf-stripUnit($tx-fontSize-max)} - #{txf-stripUnit($tx-fontSize-min)}) * ((100vw - #{map-get($breakpoints, phoneMax)}) / (#{txf-stripUnit(map-get($breakpoints, desktopWide))} - #{txf-stripUnit(map-get($breakpoints, phoneMax))})));
}

body {
  font-size: $fontSize;
  font-size: 1rem;
  line-height: $lineHeight;
  line-height: calc(#{$lineHeight}rem + (#{$tx-lineHeight-max} - #{$tx-lineHeight-min}) * ((100vw - #{map-get($breakpoints, phoneMax)}) / (#{txf-stripUnit(map-get($breakpoints, desktopWide))} - #{txf-stripUnit(map-get($breakpoints, phoneMax))})));

  @include tx-media(wide) {
    font-size: $tx-fontSize-max;
    line-height: $tx-lineHeight-max;
  }

  @include tx-media(phone) {
    font-size: $tx-fontSize-min;
    line-height: $tx-lineHeight-min;
  }

}
