/* Highlight */

$tx-hightlight-color: $white;
$tx-hightlight-background: $red;
$tx-hightlight-width: 4px;

%tx-hightlight {
  box-decoration-break: clone;
  border-width: ($tx-hightlight-width / 2) 0;
  border-style: solid;
  border-color: $tx-hightlight-background;
  color: $tx-hightlight-color;
  background: $tx-hightlight-background;
  outline: $tx-hightlight-width solid $tx-hightlight-background;
}
