@import "compass"
@import "compass/css3/user-interface"
@import "tx/tx.mixins"
@import "tx/tx.mixins.debug"
@import "tx/tx.project"

$tx-ie: true






/* Utilities (Internet Explorer < 8) */



/* Lists Reset */

.ie6

	.u-listReset, .u-descriptionListReset
		margin: 0
		padding: 0

	.u-listReset

		li
			margin: 0
			padding: 0
			background: none
			list-style: none outside

	.u-descriptionListReset

		dt, dd
			margin: 0
			padding: 0
			font-weight: normal
			font-style: normal