<link href="/icon-60.png" rel="apple-touch-icon" type="image/png" sizes="60x60">
<link href="/icon-60@2x.png" rel="apple-touch-icon" type="image/png" sizes="120x120">
<link href="/icon-60@3x.png" rel="apple-touch-icon" type="image/png" sizes="180x180">
<link href="/icon-76.png" rel="apple-touch-icon" type="image/png" sizes="76x76">
<link href="/icon-76@2x.png" rel="apple-touch-icon" type="image/png" sizes="152x152">
<link href="/icon-76@3x.png" rel="apple-touch-icon" type="image/png" sizes="228x228">
