<!DOCTYPE html>

<html lang="@tx-language" @tx-amp>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>@tx-title</title>
    <meta name="title" content="@tx-title">
    <meta name="description" content="">
    <!-- @tx-process:include head/_head-CSS.html --><!-- /@tx-process -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    <meta name="format-detection" content="telephone=no">
    <!-- @tx-process:include head/_head-app.html --><!-- /@tx-process -->
    <!-- @tx-process:include head/_head-favicons.html --><!-- /@tx-process -->
    <!-- @tx-process:include head/_head-theme.html --><!-- /@tx-process -->
  </head>
