<link rel="prefetch" href="" as="stylesheet" type="text/css" crossorigin="">
<link rel="prefetch" href="" as="script" type="text/javascript" crossorigin="">
<link rel="prefetch" href="" as="font" type="font/woff2" crossorigin="">
<link rel="preload" href="" as="stylesheet" type="text/css" crossorigin="">
<link rel="preload" href="" as="script" type="text/javascript" crossorigin="">
<link rel="preload" href="" as="font" type="font/woff2" crossorigin="">
<link rel="dns-prefetch" href="">
<link rel="preconnect" href="">
<link rel="prerender" href="">
