<link href="screen-320-480.jpg" rel="apple-touch-startup-image" media="(device-width: 320px)" type="image/jpeg">
<link href="screen-320-480@2x.jpg" rel="apple-touch-startup-image" media="(device-width: 640px) and (device-height: 960px) and (-webkit-device-pixel-ratio: 2)" type="image/jpeg">
<link href="screen-320-480@2x.jpg" rel="apple-touch-startup-image" media="(device-width: 640px) and (device-height: 960px) and (-webkit-device-pixel-ratio: 2)" type="image/jpeg">
<link href="screen-320-568@2x.jpg" rel="apple-touch-startup-image" media="(device-width: 640px) and (device-height: 1136px) and (-webkit-device-pixel-ratio: 2)" type="image/jpeg">
<link href="screen-375-667@2x.jpg" rel="apple-touch-startup-image" media="(device-width: 750px) and (device-height: 1334px) and (-webkit-device-pixel-ratio: 2)" type="image/jpeg">
<link href="screen-414-736@3x.jpg" rel="apple-touch-startup-image" media="(device-width: 1242px) and (device-height: 2208px) and (-webkit-device-pixel-ratio: 3)" type="image/jpeg">
<link href="screen-768-1024.jpg" rel="apple-touch-startup-image" media="(device-width: 768px) and (orientation: portrait)" type="image/jpeg">
<link href="screen-768-1024.jpg@2x" rel="apple-touch-startup-image" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" type="image/jpeg">
<link href="screen-1024-768.jpg" rel="apple-touch-startup-image" media="(device-width: 768px) and (orientation: landscape)" type="image/jpeg">
<link href="screen-1024-768@2x.jpg" rel="apple-touch-startup-image" media="(device-width: 1536px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" type="image/jpeg">
